SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

[ 'Tutar' ] =  N: 
    DB( 'Arge - Cost', 'Expense Accounts (Excl. Depreciation)', !İK_Arge_Projeleri, !Version, !Period, 'Amount' );

[ '258' ] =  N: 
	IF(DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi') @= '', [ 'Tutar' ] + 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), '258'), CONTINUE);

[ '258' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') < ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    [ 'Tutar' ] + DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), '258'), CONTINUE);

[ '258' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') = ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), '258') - 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), '258'), CONTINUE);

[ '263' ] =  N: 
	IF(DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi') @= '', STET, CONTINUE);

[ '263' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') = ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    [ 'Tutar' ] + (DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), '258')), CONTINUE);

[ '263' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') > ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    [ 'Tutar' ], CONTINUE);

[ 'Toplam Harcama' ] =  N: 
	[ 'Tutar' ] + DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Toplam Harcama');

# [ 'Toplam Harcama' ] =  C: 
# 	DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, SUBST( !Period, 1, 4 )|'-12', 'Toplam Harcama');

[ 'Amortisman' ] =  N: 
	IF(DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi') @= '', STET, CONTINUE);

[ 'Amortisman' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') = ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, !Period, '263') \ 5 \ (12 - ATTRN('Period', !Period, 'Month Number In Year')+1), CONTINUE);

[ 'Amortisman' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') >= ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index'), 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, !Period, '263') \ 5 \ (12 - ATTRN('Period', !Period, 'Month Number In Year')+1) + 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Amortisman'), CONTINUE);

[ 'Amortisman' ] =  N: 
	IF(ATTRN('Period', !Period, 'Index') >= ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index')
	& ATTRN('Period', !Period, 'Index') < ATTRN('Period', DB('Arge - Tanım', !İK_Arge_Projeleri, !Version, 'Aktifleşme Dönemi'), 'Index')+60, 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, !Period, 'Toplam Harcama') \ 60, CONTINUE);

[ 'UMS Amortisman' ] =  N: 
	((DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, !Period, '263') \ 5) \ 12) + 
    DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'UMS Amortisman');

FEEDERS;

['Aktif', 'Tutar' ] => DB('Arge - Amortisman', !İK_Arge_Projeleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'Toplam Harcama'), [ 'Amortisman' ], [ '258' ], [ '263' ];

['Aktif', '263' ] => [ 'UMS Amortisman' ];

['Aktif', 'Amortisman'] => DB( 'Arge - Cost', '8140203001', !İK_Arge_Projeleri, !Version, !Period, 'Amount' );

['Aktif', 'Amortisman' ] => DB('Yatırım Arge - Amortisman', '263', '9347777', !Version, !Period, 'Kanuni Amortisman - Mevcut');

['Aktif', 'Ar-Ge Projeleri', '263' ] => DB('Yatırım Arge - Amortisman', '263', '9347777', !Version, !Period, 'Yatırım');

['Aktif', 'Ar-Ge Projeleri', '258' ] => DB('Yatırım Arge - Amortisman', '258', '9347777', !Version, !Period, 'Yatırım');

['Aktif', 'Ar-Ge Projeleri', '258' ] => DB('Yatırım Arge - Amortisman', '258', '9347777', !Version,  ATTRS('Period', !Period, 'NextMonth'), 'Yatırım');

['Aktif', 'Ar-Ge Projeleri', 'UMS Amortisman' ] => DB('Yatırım Arge - Amortisman', '263', '9347777', !Version, !Period, 'UMS Amortisman - Mevcut');
