SKIPCHECK;
FEEDSTRINGS;

[Scenario:'Scenario':'Live',Items:'Items':'Total_Items']=C:IF(!Capex_M@<>'Amount TRY', 0, CONTINUE);
[Scenario:'Scenario':'Live',Items:'Items':'Total_Items']=S:'';

[Scenario:'Scenario':'Live',Capex_M:'Capex_M':'Useful Life']=N:ATTRN('Fixed_Assets',DB( 'Capex', !Scenario, !Version, !Entity, !Years, !Cost_Center, !Items, 'Fixed Asset' ),'Useful Life');
[Scenario:'Scenario':'Live',Capex_M:'Capex_M':'First Date']=ATTRN('Period',DB('Capex', !Scenario, !Version, !Entity, !Years, !Cost_Center, !Items, 'Purchase Date'),'MonthID');
[Scenario:'Scenario':'Live',Capex_M:'Capex_M':'End Date']=[Capex_M:'Capex_M':'First Date'] + 12 * [Capex_M:'Capex_M':'Useful Life'] ;
[Scenario:'Scenario':'Live',Capex_M:'Capex_M':'Amount TRY']=N:
          [Capex_M:'Capex_M':'Amount'] *
          DB( 'Macoeconomic_Indicators', !Scenario, !Version, !Entity, DB( 'Capex', !Scenario, !Version, !Entity, !Years, !Cost_Center, !Items, 'Purchase Date' ), DB( 'Capex', !Scenario, !Version, !Entity, !Years, !Cost_Center, !Items, 'Currency' ));

FEEDERS;

[Scenario:'Scenario':'Live',Capex_M:'Capex_M':'Amount']=>
      [Capex_M:'Capex_M':'Useful Life'],
      [Capex_M:'Capex_M':'First Date'],
      [Capex_M:'Capex_M':'End Date'],
      [Capex_M:'Capex_M':'Amount TRY'];
  
[Scenario:'Scenario':'Live']=>
      DB('Depreciation', !Scenario, !Version, !Entity, !Years, !Cost_Center, !Items, 'Amount' )
  ;