SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

[  ] = N: IF(ELISANC('Period', SUBST(!Version, LONG(!Version)-4+1, 4), !Period) = 1, CONTINUE, STET);

[ 'Ekipman Kiralama Bedeli' ] =  N: 
	IF(!Masraf_Kar_Merkezleri @= DB( 'Depolama Ekipman', !Records, !Version, 'MM')
	& ATTRN('Period', DB( 'Depolama Ekipman', !Records, !Version, 'Sözleşme Bitiş Tarihi'), 'Index') >= ATTRN('Period', !Period, 'Index')
	& ATTRN('Period', DB( 'Depolama Ekipman', !Records, !Version, 'Sözleşme Başlangıç Tarihi'), 'Index') <= ATTRN('Period', !Period, 'Index')
	& DB( 'Depolama Ekipman', !Records, !Version, 'Ekipman Tipi') @= !Depo_Ekipman_Tipi, 
    (DB( 'Depolama Ekipman', !Records, !Version, 'Adet') * DB( 'Depolama Ekipman', !Records, !Version, 'Aylık Kira Bedeli')) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Mevcut') @= 'USD', DB('V_P', !Version, !Period, 'Ortalama Kur - USD'), 1) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Mevcut') @= 'EUR', DB('V_P', !Version, !Period, 'Ortalama Kur - EUR'), 1) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Mevcut') @= 'GBP', DB('V_P', !Version, !Period, 'Ortalama Kur - GBP'), 1), CONTINUE);

[ 'Ekipman Kiralama Bedeli' ] =  N: 
	IF(!Masraf_Kar_Merkezleri @= DB( 'Depolama Ekipman', !Records, !Version, 'MM')
	& ATTRN('Period', DB( 'Depolama Ekipman', !Records, !Version, 'Sözleşme Bitiş Tarihi'), 'Index') < ATTRN('Period', !Period, 'Index')
	& DB( 'Depolama Ekipman', !Records, !Version, 'Ekipman Tipi') @= !Depo_Ekipman_Tipi, 
    (DB( 'Depolama Ekipman', !Records, !Version, 'Adet') * DB( 'Depolama Ekipman', !Records, !Version, 'Yeni Ekipman Aylık Kira Bedeli')) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Yeni') @= 'USD', DB('V_P', !Version, !Period, 'Ortalama Kur - USD'), 1) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Yeni') @= 'EUR', DB('V_P', !Version, !Period, 'Ortalama Kur - EUR'), 1) * 
    IF(DB( 'Depolama Ekipman', !Records, !Version, 'Para Birimi Yeni') @= 'GBP', DB('V_P', !Version, !Period, 'Ortalama Kur - GBP'), 1), CONTINUE);

[ 'Periyodik Bakım Giderleri' ] =  N: 
	IF(!Masraf_Kar_Merkezleri @= DB( 'Depolama Ekipman', !Records, !Version, 'MM')
	& DB( 'Depolama Ekipman', !Records, !Version, 'Ekipman Tipi') @= !Depo_Ekipman_Tipi, DB( 'Depolama Ekipman', !Records, !Version, 'Periyodik') \ 12, CONTINUE);

[ 'Arızi Bakım Giderleri' ] =  N: 
	IF(!Masraf_Kar_Merkezleri @= DB( 'Depolama Ekipman', !Records, !Version, 'MM')
	& DB( 'Depolama Ekipman', !Records, !Version, 'Ekipman Tipi') @= !Depo_Ekipman_Tipi, DB( 'Depolama Ekipman', !Records, !Version, 'Arızi') \ 12, CONTINUE);

FEEDERS;

[ 'Ekipman Kiralama Bedeli' ] => DB( 'Depolama Ekipman', !Records, !Version, 'Yıllık Kira Maliyeti');

['Aktif', '5340000', 'Depo_Ekipman_Tipi':'Toplam', 'Total Records', 'Depolama_Ekipman_Hesap_Meas':'Toplam'] => DB( 'Depolama Hesaplama', 'Ekipman Gideri', !Version, !Period, 'Toplam 5001'  );

['Aktif', {'3340002', '3340010', '3340015', '3350000', '3340007', '3340008', '5340300', '1345000'}, 'Depo_Ekipman_Tipi':'Toplam', 'Total Records', 'Depolama_Ekipman_Hesap_Meas':'Toplam'] => 
DB( 'Depolama Hesaplama Mağaza Dağıtım', !Masraf_Kar_Merkezleri, 'Ekipman Gideri', !Version, !Period, 'Amount'  );