SKIPCHECK;

[ 'Fiili', '2022-12', 'Amount' ] =  N: STET;

[ 'Fiili', 'Amount' ] =  N: 
    IF(SCAN('Opening', !Period) <> 0, DB( 'IFRS 16 Fiili', !IFRS_16_Fiili_Acc, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Amount'  ), CONTINUE);

[ 'Fiili', 'I257060101 - Birikmiş Amortismanlar Binalar', 'Amount' ] =  N: 
    DB( 'IFRS 16 Fiili', 'I257060101 - Birikmiş Amortismanlar Binalar', !Version_Actual, ATTRS('Period', !Period, 'PYLastMonth'), 'Amount'  ) + 
    [ 'I814010201 - Cari yıl amortismanı binalar-632' ] + [ 'I814010201 - Cari yıl amortismanı binalar' ];

[ 'Fiili', 'I257060102 - Birikmiş Amortismanlar Araçlar', 'Amount' ] =  N: 
    DB( 'IFRS 16 Fiili', 'I257060102 - Birikmiş Amortismanlar Araçlar', !Version_Actual, ATTRS('Period', !Period, 'PYLastMonth'), 'Amount'  ) + 
    [ 'I814010202 - Cari yıl amortismanı araçlar-632' ] + [ 'I814010202 - Cari yıl amortismanı araçlar' ];

[ 'Fiili', 'I257060103 - Birikmiş Amortismanlar Ekipmanlar', 'Amount' ] =  N: 
    DB( 'IFRS 16 Fiili', 'I257060103 - Birikmiş Amortismanlar Ekipmanlar', !Version_Actual, ATTRS('Period', !Period, 'PYLastMonth'), 'Amount'  ) +
    [ 'I814010203 - Cari yıl amortismanı ekipmanlar-632' ] + [ 'I814010203 - Cari yıl amortismanı ekipmanlar' ];

FEEDERS;

['Fiili', 'I814010201 - Cari yıl amortismanı binalar', 'Amount' ] => [ 'I257060101 - Birikmiş Amortismanlar Binalar' ];

['Fiili', 'I814010201 - Cari yıl amortismanı binalar-632', 'Amount' ] => [ 'I257060101 - Birikmiş Amortismanlar Binalar' ];

['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar', 'Amount' ] => [ 'I257060103 - Birikmiş Amortismanlar Ekipmanlar' ];

['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar-632', 'Amount' ] => [ 'I257060103 - Birikmiş Amortismanlar Ekipmanlar' ];

['Fiili', 'I814010202 - Cari yıl amortismanı araçlar', 'Amount' ] => [ 'I257060102 - Birikmiş Amortismanlar Araçlar' ];

['Fiili', 'I814010202 - Cari yıl amortismanı araçlar-632', 'Amount' ] => [ 'I257060102 - Birikmiş Amortismanlar Araçlar' ];

###AJE-RJE küpü için Feederları.

['Fiili', '252 - VKH Toplam', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - BS Charge - 252', !Version_Actual, !Period, 'Amount' );

['Fiili', '256 - BİRİKMİŞ AMORTİSMANLAR (-) VKH', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - BS Charge - 256', !Version_Actual, !Period, 'Amount' );

['Fiili', '309 - KISA VADELİ KİRA YÜKÜMLÜLÜĞÜ', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - BS Charge - 309', !Version_Actual, !Period, 'Amount' );

['Fiili', '409 - UZUN VADELİ KİRA YÜKÜMLÜLÜĞÜ', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - BS Charge - 409', !Version_Actual, !Period, 'Amount' );

['Fiili', '631 - PAZARLAMA SATIŞ DAĞITIM GİDERİ', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - PL Charge - 631', !Version_Actual, !Period, 'Amount' );

['Fiili', '632 - GENEL YÖNETİM GİDERLERİ', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - PL Charge - 632', !Version_Actual, !Period, 'Amount' );

['Fiili', '646 - KAMBİYO KARLARI', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - PL Charge - 646', !Version_Actual, !Period, 'Amount' );

['Fiili', '656 - KAMBİYO ZARARLARI', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - PL Charge - 656', !Version_Actual, !Period, 'Amount' );

['Fiili', '660 - KISA VADELİ FİNANSMAN GİDERİ', 'Amount' ] => DB( IF( ATTRN( 'Period', !Period, 'Index' ) >= 44, '', 'SPK Giriş'), 'IFRS 16 - PL Charge - 660', !Version_Actual, !Period, 'Amount' );

#Mali Tablo KGK Feederları.
['Fiili', 'I252060101 - Varlık Kullanım Hakkı Binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0103', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I252060102 - Varlık Kullanım Hakkı Araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0104', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I252060103 - Varlık Kullanım Hakkı Ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0105', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060101 - Birikmiş Amortismanlar Binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0203', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060103 - Birikmiş Amortismanlar Ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0204', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060102 - Birikmiş Amortismanlar Araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0205', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );

['Fiili', 'I252060101 - Varlık Kullanım Hakkı Binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0103', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I252060102 - Varlık Kullanım Hakkı Araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0104', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I252060103 - Varlık Kullanım Hakkı Ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0105', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060101 - Birikmiş Amortismanlar Binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0203', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060103 - Birikmiş Amortismanlar Ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0204', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I257060102 - Birikmiş Amortismanlar Araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T02K0205', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );

['Fiili', 'I814010201 - Cari yıl amortismanı binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010202 - Cari yıl amortismanı araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010201 - Cari yıl amortismanı binalar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010202 - Cari yıl amortismanı araçlar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
  
['Fiili', 'I814010201 - Cari yıl amortismanı binalar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010202 - Cari yıl amortismanı araçlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010201 - Cari yıl amortismanı binalar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010202 - Cari yıl amortismanı araçlar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'I814010203 - Cari yıl amortismanı ekipmanlar-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.SKH05.HD12', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );

['Fiili', 'Kira giderleri', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T076.NG16', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
['Fiili', 'Kira giderleri-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T077.NG16', 'KGK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Opening' );
  
['Fiili', 'Kira giderleri', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T076.NG16', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
['Fiili', 'Kira giderleri-632', 'Amount' ] => DB( 'Mali Tablo', 'KGK.T077.NG16', 'KGK', DB( 'Sistem', 'Ana Senaryo - Forecast', 'Değer' ), !Period, 'Opening' );
