SKIPCHECK;

[] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

[] = N: IF(ELISANC('Period', SUBST(!Version, LONG(!Version)-4+1, 4), !Period) = 1, CONTINUE, STET);

#İşe Alım Kuralı
[ '9340004', 'İşe Alım', 'Tutar' ] =  N: IF(DB( 'V_P', !Version, !Period, 'Actual - Plan' ) @= 'Plan', 
    DB( 'IK - Proje Giriş', !İK_Proje_Kalemleri, 'Toplam Proje', !Version, 'Merkez Tutar'  ) \ (12 - DB('V_P', !Version, ATTRS('Period', !Period, 'Year'),'Fiili Sayısı')), STET);

[ 'İşe Alım', 'Tutar' ] =  N: IF(DB( 'V_P', !Version, !Period, 'Actual - Plan' ) @= 'Plan', 
   (DB( 'IK - Proje Giriş', !İK_Proje_Kalemleri, 'Toplam Proje', !Version, 'Tutar'  ) \ (12 - DB('V_P', !Version, ATTRS('Period', !Period, 'Year'),'Fiili Sayısı'))) \ 
    DB( 'IK - Genel Giriş', 'All Stores', 'Toplam Mağaza Unvan', 'TOPLAM', !Version, !Period, 'Çalışan Sayısı'  ) *
    DB( 'IK - Genel Giriş', !Masraf_Kar_Merkezleri, 'Toplam Mağaza Unvan', 'TOPLAM', !Version, !Period, 'Çalışan Sayısı'  ), STET);

#Eğitim, İç İletişim, İK Operasyon ve Assesment Kuralı
[ '9340004', 'Tutar' ] =  N: DB( 'IK - Proje Giriş', !İK_Proje_Kalemleri, 'Toplam Proje', !Version, 'Merkez Tutar'  ) \ 12;

[ 'Tutar' ] =  N: 
	IF(!İK_Proje_Kalemleri @= 'Eğitim' % !İK_Proje_Kalemleri @= 'İç İletişim' % !İK_Proje_Kalemleri @= 'İK Operasyon',
    IF(DB( 'MM_V', !Masraf_Kar_Merkezleri, !Version, 'Mağaza Türü'  ) @= 'Koçtaş' % 
    DB( 'MM_V', !Masraf_Kar_Merkezleri, !Version, 'Mağaza Türü'  ) @= 'Fix', 
    (DB( 'IK - Proje Giriş', !İK_Proje_Kalemleri, 'Toplam Proje', !Version, 'Tutar'  ) \ 12) \ 
    (DB( 'IK - HC Rapor', 'Koçtaş', 'TOPLAM', 'Toplam', !Version, !Period, 'Kişi Sayısı'  ) + 
    DB( 'IK - HC Rapor', 'Fix', 'TOPLAM', 'Toplam', !Version, !Period, 'Kişi Sayısı'  ))*
    DB( 'IK - HC Rapor', !Masraf_Kar_Merkezleri, 'TOPLAM', 'Toplam', !Version, !Period, 'Kişi Sayısı'  ), STET), 
    
    IF(!İK_Proje_Kalemleri @= 'Assesment', 
    (DB( 'IK - Proje Giriş', !İK_Proje_Kalemleri, 'Toplam Proje', !Version, 'Tutar'  ) \ 12) \ 
    DB('Satış', 'All Cost Centers', !Version, !Period, 'Net Ciro') * 
    DB('Satış', !Masraf_Kar_Merkezleri, !Version, !Period, 'Net Ciro'), CONTINUE));

FEEDERS;
