FEEDSTRINGS;
SKIPCHECK;

[] = IF( ELPAR( 'Version', !Version, 1 ) @= 'Aktif', CONTINUE, STET );

[] = N: IF ( DB( 'V_P', !Version, !Period, 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[{'Kapanış Tutarı', 'Oran %', 'Diğer Ortak Pay %', 'Artış Tutarı (Sabit için)'}] = C: 0;

# Mağaza bütçe senesinde açıldıysa, değişim ayı boş olmalı, hiç artmamalı.
['Değişim ayı'] =
    S: IF (SUBST(DB('MM_V', !Masraf_Kar_Merkezleri, !Version, 'Açılış Tarihi (yyyy-mm-dd)'), 1, 4)
           @= SUBST( !Period, 1, 4 ), '', CONTINUE);
           
# Artış Tutarı 0 olmalı.
['Artış Tutarı (Sabit için)'] =
	N: IF (SUBST(DB('MM_V', !Masraf_Kar_Merkezleri, !Version, 'Açılış Tarihi (yyyy-mm-dd)'), 1, 4)
           @= SUBST( !Period, 1, 4 ), 0, CONTINUE);
           
['Oran Seçimi'] =
	S: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Sabit/Oran'  ) @= 'Sabit', '', CONTINUE);          

['Oran %'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Sabit/Oran'  ) @= 'Sabit', 0, CONTINUE);


['Oran %'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Oran Seçimi') @= 'TÜFE',
            DB( 'V_P', !Version, ATTRS( 'Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Değişim Ayı'), 'PrevMonth' ), 'Enflasyon Oranı % - TÜFE'  ),
			CONTINUE);

['Oran %'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Oran Seçimi') @= 'TÜFE - 12 Aylık',
            DB( 'V_P', !Version, ATTRS( 'Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Değişim Ayı'), 'PrevMonth' ), 'Enflasyon Oranı % - TÜFE - 12 Aylık'  ),
			CONTINUE);

['Oran %'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Oran Seçimi') @= 'ÜFE',
            DB( 'V_P', !Version, ATTRS( 'Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Değişim Ayı'), 'PrevMonth' ), 'Enflasyon Oranı % - ÜFE'  ),
			CONTINUE);

['Oran %'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Oran Seçimi') @= 'ÜFE TÜFE ort.',
            DB( 'V_P', !Version, ATTRS( 'Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Değişim Ayı'), 'PrevMonth' ), 'Enflasyon Oranı % - ÜFE TÜFE ort.'  ),
			CONTINUE);

['Artış Tutarı (Sabit için)'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, !Period, 'Sabit/Oran') @= 'Oran', 0, CONTINUE);

                                         
# Değişim ayı boş bırakılmış ise.
['Hesaplanan Kira'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Değişim ayı') @= '',
			DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Kapanış Tutarı') * 
            (1 - DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Diğer Ortak Pay %')),
			CONTINUE);
            
# Değişim ayından önceki aylar için.
['Hesaplanan Kira'] =
	N: IF ( ATTRN('Period', !Period, 'Index') <
			ATTRN('Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Değişim ayı'), 'Index'),
			DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Kapanış Tutarı') * 
            (1 - DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Diğer Ortak Pay %')),
			CONTINUE);
            
# Değişim ayından sonraki aylar için.
['Hesaplanan Kira'] =
	N: IF ( ATTRN('Period', !Period, 'Index') >=
			ATTRN('Period', DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Değişim ayı'), 'Index'),
			IF (DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Sabit/Oran') @= 'Oran',
            DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Kapanış Tutarı') * 
            ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Oran %') + 1 ) *
            (1 - DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Diğer Ortak Pay %')),
            ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Kapanış Tutarı') +
            DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Artış Tutarı (Sabit için)')) *
            (1 - DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Diğer Ortak Pay %'))),
            CONTINUE);

# Yabancı para birimleri için.
['Hesaplanan Kira (Toplam TRY)'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'USD',
			['Hesaplanan Kira'] * DB( 'V_P', !Version, !Period, 'Aysonu Kur - USD'  ),
		    CONTINUE);

['Hesaplanan Kira (Toplam TRY)'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'EUR',
			['Hesaplanan Kira'] * DB( 'V_P', !Version, !Period, 'Aysonu Kur - EUR'  ),
		    CONTINUE);

['Hesaplanan Kira (Toplam TRY)'] =
	N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'GBP',
			['Hesaplanan Kira'] * DB( 'V_P', !Version, !Period, 'Aysonu Kur - GBP'  ),
		    CONTINUE);

# Para birimi seçimi yapılmamış ise TL gibi hesaplanacak.
['Hesaplanan Kira (Toplam TRY)'] = N: ['Hesaplanan Kira'];

['Hesaplanan Kira (TRY)'] = N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'TL' %
                                    DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= '', ['Hesaplanan Kira'], 0);

['Hesaplanan Kira (USD)'] = N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'USD', ['Hesaplanan Kira'], 0);

['Hesaplanan Kira (EUR)'] = N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'EUR', ['Hesaplanan Kira'], 0);

['Hesaplanan Kira (GBP)'] = N: IF ( DB( 'Kira - Gelir', !Kira_Gelir_Türleri, !Masraf_Kar_Merkezleri, !Records, !Version, 'Opening '|ATTRS( 'Period', !Period, 'Year' ), 'Para Birimi') @= 'GBP', ['Hesaplanan Kira'], 0);

FEEDERS;

['Aktif', 'Kapanış Tutarı'] => ['Hesaplanan Kira'], ['Hesaplanan Kira (Toplam TRY)'], ['Hesaplanan Kira (TRY)'], ['Hesaplanan Kira (USD)'], ['Hesaplanan Kira (EUR)'], ['Hesaplanan Kira (GBP)'];

['Aktif', 'Opening 2025'] => ['2025-01'];
['Aktif', 'Opening 2025'] => ['2025-02'];
['Aktif', 'Opening 2025'] => ['2025-03'];
['Aktif', 'Opening 2025'] => ['2025-04'];
['Aktif', 'Opening 2025'] => ['2025-05'];
['Aktif', 'Opening 2025'] => ['2025-06'];
['Aktif', 'Opening 2025'] => ['2025-07'];
['Aktif', 'Opening 2025'] => ['2025-08'];
['Aktif', 'Opening 2025'] => ['2025-09'];
['Aktif', 'Opening 2025'] => ['2025-10'];
['Aktif', 'Opening 2025'] => ['2025-11'];
['Aktif', 'Opening 2025'] => ['2025-12'];
['Aktif', 'Opening 2026'] => ['2026-01'];
['Aktif', 'Opening 2026'] => ['2026-02'];
['Aktif', 'Opening 2026'] => ['2026-03'];
['Aktif', 'Opening 2026'] => ['2026-04'];
['Aktif', 'Opening 2026'] => ['2026-05'];
['Aktif', 'Opening 2026'] => ['2026-06'];
['Aktif', 'Opening 2026'] => ['2026-07'];
['Aktif', 'Opening 2026'] => ['2026-08'];
['Aktif', 'Opening 2026'] => ['2026-09'];
['Aktif', 'Opening 2026'] => ['2026-10'];
['Aktif', 'Opening 2026'] => ['2026-11'];
['Aktif', 'Opening 2026'] => ['2026-12'];
  
# Kira küpü için feeder
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Mağaza'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan Mağaza Kira Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Stand'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan Stand Kira Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Kira_Gelir_Türleri':'Depo'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Depo Kira Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Ortak Alan'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan Ortak Alan Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Reklam Payı'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan Reklam Payı Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Otopark'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Otopark Kira Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'Baz İstasyonu'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan Baz İstasyonu Geliri'  );
['Aktif', 'Total Records','Hesaplanan Kira (Toplam TRY)', 'ATM'] => DB( 'Kira', !Masraf_Kar_Merkezleri, !Version, !Period, 'Hesaplanan ATM Geliri'  );
