SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET); 

###Total remaining hesaplaması
[ 'Total Remaining Collection' ] =  C: 
	IF(SUBST(!Period, 6, 2) @= '12', 
    (DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'P+1') + 
    DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'P+2') + 
    (DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'Addition from Sales') - 
     DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'Collection from Sales')) * 
    DB('Kredi Kart - Alacak Detay', 'Banka Giriş', !Version, 'Opening '| ATTRS( 'Period', !Period, 'Year' ), 'P01', 'Collection Ratio')) * 1.18, CONTINUE);

[ 'Total Remaining Collection' ] =  C: 
	(DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'P+1') + 
     DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'P+2') + 
     DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, ATTRS('Period', !Period, 'NextMonth'), 'P')) * 1.18;

[ 'Total Remaining Collection' ] =  N: 
	DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, SUBST(!Period, 1, 4), 'P' | SUBST(!Period, 6, 2), 'Collection');

#Kasım ve Aralık İçin Özel Koşullar
[ 'Kredi Kart', 'P+2' ] =  N: IF(SUBST(!Version, 10, 2) @= '10' & SUBST(!Period, 6, 2) @= '10', STET, CONTINUE);

[ 'Kredi Kart', 'P+2' ] =  N: IF(SUBST(!Version, 10, 2) @= '11' & SUBST(!Period, 6, 2) @= '11', STET, CONTINUE);

[ 'Kredi Kart', 'P+1' ] =  N: IF(SUBST(!Version, 10, 2) @= '11' & SUBST(!Period, 6, 2) @= '11', STET, CONTINUE);

[ 'Kredi Kart', 'P+2' ] =  N: IF(SUBST(!Period, 6, 2) @= '11', DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'Remaining Collection from P-1') * 
       DB('Kredi Kart - Alacak Detay', 'Banka Giriş', !Version, 'Opening '| ATTRS( 'Period', !Period, 'Year' ), 'P03', 'Collection Ratio'), CONTINUE);

[ 'Kredi Kart', 'P+2' ] =  N: IF(SUBST(!Period, 6, 2) @= '12', DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'Remaining Collection from P-1') * 
       DB('Kredi Kart - Alacak Detay', 'Banka Giriş', !Version, 'Opening '| ATTRS( 'Period', !Period, 'Year' ), 'P03', 'Collection Ratio'), CONTINUE);

[ 'Kredi Kart', 'P+1' ] =  N: IF(SUBST(!Period, 6, 2) @= '12', DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'Remaining Collection from P-1') * 
       DB('Kredi Kart - Alacak Detay', 'Banka Giriş', !Version, 'Opening '| ATTRS( 'Period', !Period, 'Year' ), 'P02', 'Collection Ratio'), CONTINUE);

[ { 'Remaining Collection from P-1', 'P', 'P+1', 'P+2', 'P+3', 'P+4', 'P+5' }, 'Kredi Kart' ] =  N: IF(SCAN('Forecast', !Version) <> 0
	& DB('V_P', !Version, !Period, 'Actual - Plan') @<> 'Actual' & DB('V_P', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Actual - Plan') @= 'Actual', STET, CONTINUE);

[ { 'Net Amount' }, 'Kredi Kart' ] =  N: IF(SCAN('Forecast', !Version) <> 0 & DB('V_P', !Version, !Period, 'Actual - Plan') @= 'Actual'
	& DB('V_P', !Version, ATTRS('Period', !Period, 'NextMonth'), 'Actual - Plan') @<> 'Actual', STET, CONTINUE);

[ 'Net Amount', 'Kredi Kart' ] =  N: IF(SCAN('Forecast', !Version) <> 0
	& DB('V_P', !Version, !Period, 'Actual - Plan') @<> 'Actual' & DB('V_P', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Actual - Plan') @= 'Actual', 
    DB('Kredi Kart', !Kredi_Kart_Türleri, !Bankalar, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Net Amount') - 
    DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, !Period, 'P') + [ 'Addition from Sales' ] - [ 'Collection from Sales' ], CONTINUE);

[ { 'Remaining Collection from P-1', 'P', 'P+1', 'P+2', 'P+3', 'P+4', 'P+5', 'Addition from Sales', 'Collection from Sales', 'Net Amount', 'Amount' }, 'Kredi Kart' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0
	& DB('V_P', !Version, !Period, 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Remaining Collection from P-1', 'Kredi Kart' ] =  N: IF(SUBST(!Period, 6, 2) @= '01', STET, CONTINUE);

[ 'Remaining Collection from P-1', 'Kredi Kart' ] =  N: 
	DB('Kredi Kart', !Kredi_Kart_Türleri, !Bankalar, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Addition from Sales') - 
    DB('Kredi Kart', !Kredi_Kart_Türleri, !Bankalar, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Collection from Sales');

[ 'P' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year'), 2, 0), 'Collection');

[ 'P+1' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year') + 1, 2, 0), 'Collection');

[ 'P+2' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year') + 2, 2, 0), 'Collection');

[ 'P+3' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year') + 3, 2, 0), 'Collection');

[ 'P+4' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year') + 4, 2, 0), 'Collection');

[ 'P+5' ] =  N: DB('Kredi Kart - Alacak Detay', !Bankalar, !Version, !Period, 'P' | STR(ATTRN('Period', !Period, 'Month Number In Year') + 5, 2, 0), 'Collection');

[ 'Addition from Sales', 'Kredi Kart' ] =  N: DB( 'Kredi Kart - Komisyon Detay', 'Total Satış Kanalı', !Bankalar, !Version, !Period, 'Toplam Kredi Kartı Tutarı' );

[ 'Collection from Sales', 'Kredi Kart' ] =  N: [ 'Addition from Sales' ] * [ 'Bank Collection Ratio' ];

[ 'Net Amount', 'Kredi Kart' ] =  N: [ 'Remaining Collection from P-1' ] - [ 'P' ] + [ 'Addition from Sales' ] - [ 'Collection from Sales' ];

[ 'Amount', 'Kredi Kart' ] =  N: [ 'Net Amount' ];

FEEDERS;

[ 'Aktif', 'Opening 2025' ] => [ '2025-01' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-02' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-03' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-04' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-05' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-06' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-07' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-08' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-09' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-10' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-11' ];
[ 'Aktif', 'Opening 2025' ] => [ '2025-12' ];
    
[ 'Aktif', 'Kredi Kart', {'Remaining Collection from P-1', 'P', 'Addition from Sales', 'Collection from Sales'} ] => [ 'Kredi Kart', 'Net Amount' ];
[ 'Aktif', 'Kredi Kart', {'Remaining Collection from P-1', 'P', 'Addition from Sales', 'Collection from Sales'} ] => DB('Kredi Kart', 'Kredi Kart', !Bankalar, !Version, ATTRS('Period', !Period, 'NextMonth'), 'Net Amount');
[ 'Aktif', 'Kredi Kart' ] => [ 'Peşin' ], [ 'Taksit' ];
[ 'Aktif', 'Addition from Sales' ] => DB('Kredi Kart', !Kredi_Kart_Türleri, !Bankalar, !Version, ATTRS('Period', !Period, 'NextMonth'), 'Remaining Collection from P-1');
[ 'Aktif', 'Bank Collection Ratio' ] => [ 'Collection from Sales' ];

[ 'Aktif', 'P' ] => [ 'P+1' ];
[ 'Aktif', 'P+1' ] => [ 'P+2' ];
[ 'Aktif', 'P+2' ] => [ 'P+3' ];
[ 'Aktif', 'P+3' ] => [ 'P+4' ];
[ 'Aktif', 'P+4' ] => [ 'P+5' ];
  
[ 'Aktif', 'Remaining Collection from P-1' ] => [ 'Total Remaining Collection' ];
[ 'Aktif', 'P' ] => [ 'Net Amount' ];
[ 'Aktif', 'Net Amount' ] => [ 'Amount' ];

#Kredi Kart - Komisyon Detay Feederları.
['Aktif', 'Peşin', 'Bank Sales Ratio'] => DB( 'Kredi Kart - Komisyon Detay', 'Total Satış Kanalı', !Bankalar, !Version, !Period, 'Kredi Kartı Peşin Tutar' );
['Aktif', 'Taksit', 'Bank Sales Ratio'] => DB( 'Kredi Kart - Komisyon Detay', 'Total Satış Kanalı', !Bankalar, !Version, !Period, 'Kredi Kartı Taksitli Tutar' );
['Aktif', 'Peşin', 'Bank Commission Ratio'] => DB( 'Kredi Kart - Komisyon Detay', 'Total Satış Kanalı', !Bankalar, !Version, !Period, 'Kredi Kartı Peşin Komisyon Tutarı' );
['Aktif', 'Taksit', 'Bank Commission Ratio'] => DB( 'Kredi Kart - Komisyon Detay', 'Total Satış Kanalı', !Bankalar, !Version, !Period, 'Kredi Kartı Taksitli Komisyon Tutarı' );
  
#SPK Giriş Plan Feedarları
['Aktif', 'Kredi Kart', 'Toplam', 'P+1'] => DB( 'SPK Giriş Plan', '108', !Version, !Period, 'Amount' );
['Aktif', 'Kredi Kart', 'Toplam', 'P+2'] => DB( 'SPK Giriş Plan', '108', !Version, ATTRS('Period', !Period, 'NextMonth'), 'Amount' );
['Aktif', 'Kredi Kart', 'Toplam', 'P'] => DB( 'SPK Giriş Plan', '108', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Amount' ); 

#Mali Tablo Feedarları.
['Aktif', 'Kredi Kart', 'Toplam', 'Amount'] => DB( 'Mali Tablo', '108', 'Kredi Kart', !Version, !Period, 'Movement' );
