SKIPCHECK;

[ 'PL' ] =  C: 0;

#RegionStart Sales %
['Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = ['TOTAL'] \ ['NET SALES', 'Koçtaş Total', 'TOTAL'];

['Sales %', 'AVM'] = ['TOTAL'] \ (['NET SALES', '1340200', 'TOTAL'] + ['NET SALES', '1340300', 'TOTAL'] + ['NET SALES', '2350300', 'TOTAL']);

['Sales %', '1340201'] = ['TOTAL'] \ ['NET SALES', '1340200', 'TOTAL'];

['Sales %', '1340301'] = ['TOTAL'] \ ['NET SALES', '1340300', 'TOTAL'];

['Sales %', '2350301'] = ['TOTAL'] \ ['NET SALES', '2350300', 'TOTAL'];

['Sales %'] = ['TOTAL'] \ ['NET SALES', 'TOTAL'];
#EndRegion Sales %

#RegionStart Base Sales %
['Base Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = ['Base TOTAL'] \ ['NET SALES', 'Koçtaş Total', 'Base TOTAL'];

['Base Sales %', 'AVM'] = ['Base TOTAL'] \ (['NET SALES', '1340200', 'Base TOTAL'] + ['NET SALES', '1340300', 'Base TOTAL'] + ['NET SALES', '2350300', 'Base TOTAL']);

['Base Sales %', '1340201'] = ['Base TOTAL'] \ ['NET SALES', '1340200', 'Base TOTAL'];

['Base Sales %', '1340301'] = ['Base TOTAL'] \ ['NET SALES', '1340300', 'Base TOTAL'];

['Base Sales %', '2350301'] = ['Base TOTAL'] \ ['NET SALES', '2350300', 'Base TOTAL'];

['Base Sales %'] = ['Base TOTAL'] \ ['NET SALES', 'Base TOTAL'];
#EndRegion Base Sales %

['Difference'] = ['TOTAL'] - ['Base TOTAL'];

['Growth %'] = IF ( ['TOTAL'] > ['Base TOTAL'], ABS((['TOTAL'] - ['Base TOTAL']) \ ['Base TOTAL']), -ABS((['TOTAL'] - ['Base TOTAL']) \ ['Base TOTAL']));

['Sales % Diff.'] = ['Sales %'] - ['Base Sales %'];

#RegionStart Actual Sales %
['Actual Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = ['Actual TOTAL'] \ ['NET SALES', 'Koçtaş Total', 'Actual TOTAL'];

['Actual Sales %', 'AVM'] = ['Actual TOTAL'] \ 
  (['NET SALES', '1340200', 'Actual TOTAL' ] + 
   ['NET SALES', '1340300', 'Actual TOTAL' ] + 
   ['NET SALES', '2350300', 'Actual TOTAL' ]);

['Actual Sales %', '1340201'] = ['Actual TOTAL'] \ 
  ['NET SALES', '1340200', 'Actual TOTAL' ];

['Actual Sales %', '1340301'] = ['Actual TOTAL'] \ 
  ['NET SALES', '1340300', 'Actual TOTAL' ];

['Actual Sales %', '2350301'] = ['Actual TOTAL'] \ 
  ['NET SALES', '2350300', 'Actual TOTAL' ];

['Actual Sales %'] = ['Actual TOTAL'] \ ['NET SALES', 'Actual TOTAL'];
#EndRegion Actual Sales %

['Budget Total'] = IF(SCAN('Forecast', !Version_Report) <> 0, DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'TOTAL' ), CONTINUE);

#RegionStart Budget Sales %
['Budget Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ ['NET SALES', 'Koçtaş Total', 'Budget Total'], CONTINUE);

['Budget Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ 
  (['NET SALES', '1340200', 'Budget Total' ] + 
   ['NET SALES', '1340300', 'Budget Total' ] + 
   ['NET SALES', '2350300', 'Budget Total' ]), CONTINUE);

['Budget Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ 
  ['NET SALES', '1340200', 'Budget Total' ], CONTINUE);

['Budget Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ 
  ['NET SALES', '1340300', 'Budget Total' ], CONTINUE);

['Budget Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ 
  ['NET SALES', '2350300', 'Budget Total' ], CONTINUE);

['Budget Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] \ ['NET SALES', 'Budget Total'], CONTINUE);
#EndRegion Budget Sales %

['Forecast vs Budget TL'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['TOTAL'] - ['Budget Total'], CONTINUE);

['Forecast vs Budget %'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['TOTAL'] - ['Budget Total'] ) \ ABS( ['Budget Total']), CONTINUE);

['Forecast vs Budget Sales % Diff'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Sales %'] - ['Budget Sales %'], CONTINUE);

['Y-1 Actual'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Base TOTAL'], CONTINUE);

#RegionStart Y-1 Actual Sales %
['Y-1 Actual Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] \ ['NET SALES', 'Koçtaş Total', 'Y-1 Actual' ], CONTINUE);

['Y-1 Actual Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] \ 
  (['NET SALES', '1340200', 'Y-1 Actual' ] + 
   ['NET SALES', '1340300', 'Y-1 Actual' ] + 
   ['NET SALES', '2350300', 'Y-1 Actual' ]), CONTINUE);

['Y-1 Actual Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] \ 
  ['NET SALES', '1340200', 'Y-1 Actual' ], CONTINUE);

['Y-1 Actual Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] \ 
  ['NET SALES', '1340300', 'Y-1 Actual' ], CONTINUE);

['Y-1 Actual Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] \ 
  ['NET SALES', '2350300', 'Y-1 Actual' ], CONTINUE);

['Y-1 Actual Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual'] \ ['NET SALES', 'Y-1 Actual'], CONTINUE);
#EndRegion Y-1 Actual Sales %

['Y-1 Actual Diff'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['TOTAL'] - ['Y-1 Actual'], CONTINUE);

['Y-1 Actual Growth %'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['TOTAL'] - ['Y-1 Actual']) \ ABS(['Y-1 Actual']), CONTINUE);

['Y-1 Actual Sales % Diff'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Sales %'] - ['Y-1 Actual Sales %'], CONTINUE);

['Y-2 Actual Sales'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Actual TOTAL'], CONTINUE);

['Y-2 Actual Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Actual Sales %'], CONTINUE);

['Forecast Fiili Total'] = IF(SCAN('Forecast', !Version_Report) <> 0 & 
  !Period @= ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 
  DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, !Period|'-YTD', 'TOTAL' ), CONTINUE);

#RegionStart Forecast Fiili Sales %
['Forecast Fiili Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ ['NET SALES', 'Koçtaş Total', 'Forecast Fiili Total'], CONTINUE);

['Forecast Fiili Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ 
  (['NET SALES', '1340200', 'Forecast Fiili Total' ] + 
   ['NET SALES', '1340300', 'Forecast Fiili Total' ] + 
   ['NET SALES', '2350300', 'Forecast Fiili Total' ]), CONTINUE);

['Forecast Fiili Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ 
  ['NET SALES', '1340200', 'Forecast Fiili Total' ], CONTINUE);

['Forecast Fiili Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ 
  ['NET SALES', '1340300', 'Forecast Fiili Total' ], CONTINUE);

['Forecast Fiili Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ 
  ['NET SALES', '2350300', 'Forecast Fiili Total' ], CONTINUE);

['Forecast Fiili Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Total'] \ ['NET SALES', 'Forecast Fiili Total'], CONTINUE);
#EndRegion Forecast Fiili Sales %

['Budget Total Fiili Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0 & 
  !Period @= ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 
  DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period|'-YTD', 'TOTAL' ), CONTINUE);

#RegionStart Budget Sales Fiili Aylar %
['Budget Sales Fiili Aylar %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Budget Total Fiili Aylar'], CONTINUE);

['Budget Sales Fiili Aylar %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ 
  (['NET SALES', '1340200', 'Budget Total Fiili Aylar' ] + 
   ['NET SALES', '1340300', 'Budget Total Fiili Aylar' ] + 
   ['NET SALES', '2350300', 'Budget Total Fiili Aylar' ]), CONTINUE);

['Budget Sales Fiili Aylar %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ 
  ['NET SALES', '1340200', 'Budget Total Fiili Aylar' ], CONTINUE);

['Budget Sales Fiili Aylar %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ 
  ['NET SALES', '1340300', 'Budget Total Fiili Aylar' ], CONTINUE);

['Budget Sales Fiili Aylar %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ 
  ['NET SALES', '2350300', 'Budget Total Fiili Aylar' ], CONTINUE);

['Budget Sales Fiili Aylar %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Fiili Aylar'] \ ['NET SALES', 'Budget Total Fiili Aylar'], CONTINUE);
#EndRegion Budget Sales Fiili Aylar %

['Forecast vs Budget Fiili Aylar TL'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['Forecast Fiili Total'] - ['Budget Total Fiili Aylar']), CONTINUE);

['Forecast vs Budget Fiili Ay %'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['Forecast Fiili Total'] - ['Budget Total Fiili Aylar']) \ ABS(['Budget Total Fiili Aylar']), CONTINUE);

['Forecast vs Budget Fiili Ay Sales % Dif'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Sales %'] - ['Budget Sales Fiili Aylar %'], CONTINUE);

['Y-1 Actual Fiili Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0 & 
  !Period @= ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 
  DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, !Period|'-YTD', 'Base TOTAL' ), CONTINUE);

#RegionStart Y-1 Actual Fiili Aylar Sales %
['Y-1 Actual Fiili Aylar Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Fiili Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Y-1 Actual Fiili Aylar'], CONTINUE);

['Y-1 Actual Fiili Aylar Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual Fiili Aylar'] \ 
  (['NET SALES', '1340200', 'Y-1 Actual Fiili Aylar' ] + 
   ['NET SALES', '1340300', 'Y-1 Actual Fiili Aylar' ] + 
   ['NET SALES', '2350300', 'Y-1 Actual Fiili Aylar' ]), CONTINUE);

['Y-1 Actual Fiili Aylar Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual Fiili Aylar'] \ 
  ['NET SALES', '1340200', 'Y-1 Actual Fiili Aylar' ], CONTINUE);

['Y-1 Actual Fiili Aylar Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual Fiili Aylar'] \ 
  ['NET SALES', '1340300', 'Y-1 Actual Fiili Aylar' ], CONTINUE);

['Y-1 Actual Fiili Aylar Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual Fiili Aylar'] \ 
  ['NET SALES', '2350300', 'Y-1 Actual Fiili Aylar' ], CONTINUE);

['Y-1 Actual Fiili Aylar Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-1 Actual Fiili Aylar'] \ ['NET SALES', 'Y-1 Actual Fiili Aylar'], CONTINUE);
#EndRegion Y-1 Actual Fiili Aylar Sales %

['Y-1 Fiili Aylar Difference'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Forecast Fiili Total'] - ['Y-1 Actual Fiili Aylar'], CONTINUE);

['Y-1 Fiili Aylar Growth %'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['Forecast Fiili Total'] - ['Y-1 Actual Fiili Aylar']) \ ABS(['Y-1 Actual Fiili Aylar']), CONTINUE);

['Y-1 Fiili Aylar Sales % Diff.'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Fiili Sales %'] - ['Y-1 Actual Fiili Aylar Sales %'], CONTINUE);

['Y-2 Actual Fiili Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0 & 
  !Period @= ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 
  DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, !Period, 'Actual TOTAL' ), CONTINUE);

#RegionStart Y-2 Actual Fiili Aylar Sales %
['Y-2 Actual Fiili Aylar Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Y-2 Actual Fiili Aylar'], CONTINUE);

['Y-2 Actual Fiili Aylar Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ 
  (['NET SALES', '1340200', 'Y-2 Actual Fiili Aylar' ] + 
   ['NET SALES', '1340300', 'Y-2 Actual Fiili Aylar' ] + 
   ['NET SALES', '2350300', 'Y-2 Actual Fiili Aylar' ]), CONTINUE);

['Y-2 Actual Fiili Aylar Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ 
  ['NET SALES', '1340200', 'Y-2 Actual Fiili Aylar' ], CONTINUE);

['Y-2 Actual Fiili Aylar Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ 
  ['NET SALES', '1340300', 'Y-2 Actual Fiili Aylar' ], CONTINUE);

['Y-2 Actual Fiili Aylar Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ 
  ['NET SALES', '2350300', 'Y-2 Actual Fiili Aylar' ], CONTINUE);

['Y-2 Actual Fiili Aylar Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Y-2 Actual Fiili Aylar'] \ ['NET SALES', 'Y-2 Actual Fiili Aylar'], CONTINUE);
#EndRegion Y-2 Actual Fiili Aylar Sales %

['Forecast Tahmin Total'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['TOTAL'] - ['Forecast Fiili Total'], CONTINUE);

#RegionStart Forecast Tahmin Sales %
['Forecast Tahmin Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ ['NET SALES', 'Koçtaş Total', 'Forecast Tahmin Total'], CONTINUE);

['Forecast Tahmin Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ 
  (['NET SALES', '1340200', 'Forecast Tahmin Total' ] + 
   ['NET SALES', '1340300', 'Forecast Tahmin Total' ] + 
   ['NET SALES', '2350300', 'Forecast Tahmin Total' ]), CONTINUE);

['Forecast Tahmin Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ 
  ['NET SALES', '1340200', 'Forecast Tahmin Total' ], CONTINUE);

['Forecast Tahmin Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ 
  ['NET SALES', '1340300', 'Forecast Tahmin Total' ], CONTINUE);

['Forecast Tahmin Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ 
  ['NET SALES', '2350300', 'Forecast Tahmin Total' ], CONTINUE);

['Forecast Tahmin Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] \ ['NET SALES', 'Forecast Tahmin Total'], CONTINUE);
#EndRegion Forecast Tahmin Sales %

['Budget Total Tahmin Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total'] - ['Budget Total Fiili Aylar'], CONTINUE);

#RegionStart Budget Sales Tahmin Aylar %
['Budget Sales Tahmin Aylar %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Budget Total Tahmin Aylar'], CONTINUE);

['Budget Sales Tahmin Aylar %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ 
  (['NET SALES', '1340200', 'Budget Total Tahmin Aylar' ] + 
   ['NET SALES', '1340300', 'Budget Total Tahmin Aylar' ] + 
   ['NET SALES', '2350300', 'Budget Total Tahmin Aylar' ]), CONTINUE);

['Budget Sales Tahmin Aylar %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ 
  ['NET SALES', '1340200', 'Budget Total Tahmin Aylar' ], CONTINUE);

['Budget Sales Tahmin Aylar %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ 
  ['NET SALES', '1340300', 'Budget Total Tahmin Aylar' ], CONTINUE);

['Budget Sales Tahmin Aylar %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ 
  ['NET SALES', '2350300', 'Budget Total Tahmin Aylar' ], CONTINUE);

['Budget Sales Tahmin Aylar %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Budget Total Tahmin Aylar'] \ ['NET SALES', 'Budget Total Tahmin Aylar'], CONTINUE);
#EndRegion Budget Sales Tahmin Aylar %

['Forecast vs Budget Tahmin Aylar TL'] = IF(SCAN('Forecast', !Version_Report) <> 0,	(['Forecast Tahmin Total'] - ['Budget Total Tahmin Aylar']), CONTINUE);

['Forecast vs Budget Tahmin Ay %'] = IF(SCAN('Forecast', !Version_Report) <> 0,	(['Forecast Tahmin Total'] - ['Budget Total Tahmin Aylar']) \ ABS(['Budget Total Tahmin Aylar']), CONTINUE);

['Forecast vs Budget Tahmin Ay Sales % Dif'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Sales %'] - ['Budget Sales Tahmin Aylar %'], CONTINUE);

['Y-1 Actual Tahmin Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual'] - ['Y-1 Actual Fiili Aylar'], CONTINUE);

#RegionStart Y-1 Actual Tahmin Aylar Sales %
['Y-1 Actual Tahmin Aylar Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Y-1 Actual Tahmin Aylar'], CONTINUE);

['Y-1 Actual Tahmin Aylar Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ 
  (['NET SALES', '1340200', 'Y-1 Actual Tahmin Aylar' ] + 
   ['NET SALES', '1340300', 'Y-1 Actual Tahmin Aylar' ] + 
   ['NET SALES', '2350300', 'Y-1 Actual Tahmin Aylar' ]), CONTINUE);

['Y-1 Actual Tahmin Aylar Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ 
  ['NET SALES', '1340200', 'Y-1 Actual Tahmin Aylar' ], CONTINUE);

['Y-1 Actual Tahmin Aylar Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ 
  ['NET SALES', '1340300', 'Y-1 Actual Tahmin Aylar' ], CONTINUE);

['Y-1 Actual Tahmin Aylar Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ 
  ['NET SALES', '2350300', 'Y-1 Actual Tahmin Aylar' ], CONTINUE);

['Y-1 Actual Tahmin Aylar Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-1 Actual Tahmin Aylar'] \ ['NET SALES', 'Y-1 Actual Tahmin Aylar'], CONTINUE);
#EndRegion Y-1 Actual Tahmin Aylar Sales %

['Y-1 Tahmin Aylar Difference'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Forecast Tahmin Total'] - ['Y-1 Actual Tahmin Aylar'], CONTINUE);

['Y-1 Tahmin Aylar Growth %'] = IF(SCAN('Forecast', !Version_Report) <> 0, (['Forecast Tahmin Total'] - ['Y-1 Actual Tahmin Aylar']) \ ABS(['Y-1 Actual Tahmin Aylar']), CONTINUE);

['Y-1 Tahmin Aylar Sales % Diff.'] = IF(SCAN('Forecast', !Version_Report) <> 0,	['Forecast Tahmin Sales %'] - ['Y-1 Actual Tahmin Aylar Sales %'], CONTINUE);

['Y-2 Actual Tahmin Aylar'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Sales'] - ['Y-2 Actual Fiili Aylar'], CONTINUE);

#RegionStart Y-2 Actual Tahmin Aylar Sales %
['Y-2 Actual Tahmin Aylar Sales %', {'Head Office', 'Bölgeler', 'Depo'}] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ ['NET SALES', 'Koçtaş Total', 'Y-2 Actual Tahmin Aylar'], CONTINUE);

['Y-2 Actual Tahmin Aylar Sales %', 'AVM'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ 
  (['NET SALES', '1340200', 'Y-2 Actual Tahmin Aylar' ] + 
   ['NET SALES', '1340300', 'Y-2 Actual Tahmin Aylar' ] + 
   ['NET SALES', '2350300', 'Y-2 Actual Tahmin Aylar' ]), CONTINUE);

['Y-2 Actual Tahmin Aylar Sales %', '1340201'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ 
  ['NET SALES', '1340200', 'Y-2 Actual Tahmin Aylar' ], CONTINUE);

['Y-2 Actual Tahmin Aylar Sales %', '1340301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ 
  ['NET SALES', '1340300', 'Y-2 Actual Tahmin Aylar' ], CONTINUE);

['Y-2 Actual Tahmin Aylar Sales %', '2350301'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ 
  ['NET SALES', '2350300', 'Y-2 Actual Tahmin Aylar' ], CONTINUE);

['Y-2 Actual Tahmin Aylar Sales %'] = IF(SCAN('Forecast', !Version_Report) <> 0, ['Y-2 Actual Tahmin Aylar'] \ ['NET SALES', 'Y-2 Actual Tahmin Aylar'], CONTINUE);
#EndRegion Y-2 Actual Tahmin Aylar Sales %

FEEDERS;

['TOTAL'] => DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 'Forecast Fiili Total' );
['TOTAL'] => DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 'Budget Total Fiili Aylar' );
['BASE TOTAL'] => DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 'Y-1 Actual Fiili Aylar' );
['Actual TOTAL'] => DB( 'Report PL Plan', !PL_Acc, !Masraf_Kar_Merkezleri, !Version_Report, ATTRS( 'Period', DB( 'V', !Version_Report, 'Plan Start Date' ), 'PrevMonth' ), 'Y-2 Actual Fiili Aylar' );
