#RegionSystem
FEEDSTRINGS;
SKIPCHECK;
#EndRegion

['Salary_Assumption_M':{'Salary_Assumption_M':'SGK Parametreleri','Salary_Assumption_M':'Vergiler','Salary_Assumption_M':'Teşvikler'}]=C:0;

[]=C:0;


['Live', 'Asgari Ücret (Net)'] = N:
    ['Salary_Assumption_M':'Asgari Ücret (Brüt)'] *
    (100 - ['Salary_Assumption_M':'SGK İşçi Primi (%)'] - ['Salary_Assumption_M':'İşsizlik İşçi Primi (%)']) \ 100;

['Live', Salary_Assumption_M:'Salary_Assumption_M':'Vergi İstisnası'] = N:
    IF(DB('Salary_Assumption', !Scenario, !Version, !Entity, !Period, 'Asgari Ücret Vergi İstisnası') @= 'EVET', 1, 0);


['Live',Salary_Assumption_M:'Salary_Assumption_M':'AÜ SGK İşveren Primi'] = N: 		
      ['Asgari Ücret (Brüt)'] * ['SGK İşveren Primi (%)'] \ 100;

#Region Gelir Vergisi Hesaplama		
['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:
    IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] > DB('Tax_Assumption', !Scenario, !Version, !Entity, !Period, '1', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '1', 'KVM Üst'),
	     ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '1', 'Vergi Oranı') \ 100,	
	     CONTINUE	
	  );	

['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
    IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] > DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '2', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '2', 'KVM Üst'),	
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '1', 'Kümüle Gelir Vergisi')	
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '2', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '2', 'Vergi Oranı') \ 100,
	     CONTINUE	
	  );
 
['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
    IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '3', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '3', 'KVM Üst'),	
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '2', 'Kümüle Gelir Vergisi')	
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '3', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '3', 'Vergi Oranı') \ 100,
	  CONTINUE
	  );
 
['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
    IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '4', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '4', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '3', 'Kümüle Gelir Vergisi')	
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '4', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '4', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );
 
['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '5', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '5', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '4', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '5', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '5', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );	

['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '6', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '6', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '5', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '6', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '6', 'Vergi Oranı') \ 100,
	  CONTINUE
	  );

['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '7', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '7', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '6', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '7', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '7', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );	
		
['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '8', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '8', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '7', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '8', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '8', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );

['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '9', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '9', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '8', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '9', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '9', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );

['Live', 'Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] = N:		
	IF( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] >  DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '10', 'KVM Alt') & ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] <= DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '10', 'KVM Üst'),
	  + DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '9', 'Kümüle Gelir Vergisi')
	  + ( ['Salary_Assumption_M':'AÜ Kümüle Vergi Matrahı'] - DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '10', 'KVM Alt') ) * DB('Tax_Assumption',  !Scenario, !Version, !Entity, !Period, '10', 'Vergi Oranı') \ 100,
	     CONTINUE
	  );

['Live', 'AÜ Gelir Vergisi'] = N:
  IF(
    ATTRN('Period', !Period, 'Month N') = 1,
        ['Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'],	
        CONTINUE	
       );	
 
['Live', 'Salary_Assumption_M':'AÜ Gelir Vergisi'] = N:
	['Salary_Assumption_M':'AÜ Kümüle Gelir Vergisi'] - DB('Salary_Assumption', !Scenario, !Version, !Entity, ATTRS('Period', !Period, 'Previous Period'),  'AÜ Kümüle Gelir Vergisi');
 

['Live', 'AÜ Kümüle Vergi Matrahı'] = N:
    IF(
        ATTRN('Period', !Period, 'Month N') = 1,
        ['Asgari Ücret (Net)'],
        ['Asgari Ücret (Net)'] +
        DB('Salary_Assumption', !Scenario, !Version, !Entity, ATTRS('Period', !Period, 'Previous Period'), 'AÜ Kümüle Vergi Matrahı')
    );
 #EndRegion		



FEEDERS;		
		
['Live','Salary_Assumption_M':'SGK Taban Matrahı'] =>
    ['Live','AÜ Gelir Vergisi'],
    ['Live','Vergi İstisnası'],
    ['Live','AÜ Kümüle Gelir Vergisi'],
    ['Live','AÜ Kümüle Vergi Matrahı'],
    ['Live','AÜ SGK İşveren Primi'],
    DB('Salary Assumption', !Scenario, !Version, !Entity, ATTRS('Period', !Period, 'Next Period'), 'AÜ Kümüle Vergi Matrahı'),
    DB('Salary Assumption', !Scenario, !Version, !Entity, ATTRS('Period', !Period, 'Next Period'), 'AÜ Kümüle Gelir Vergisi');
