SKIPCHECK;

['Live','Gelir Vergisi'] = N: 
    (['KVM Üst'] - ['KVM Alt']) * ['Vergi Oranı'] \ 100;

['Live','Kümüle Gelir Vergisi'] = N: 
  DB( 'Tax_Assumption', !Scenario, !Version, !Entity, !Period, ATTRS( 'Tax_ID', !Tax_ID, 'Previous' ), 'Kümüle Gelir Vergisi') + ['Gelir Vergisi'];

['Live','KVM Alt'] =N:
  DB( 'Tax_Assumption', !Scenario, !Version, !Entity, !Period, ATTRS( 'Tax_ID', !Tax_ID, 'Previous' ), 'KVM Üst');
  
FEEDERS;

[Scenario:'Scenario':'Live',Tax_Assumption_M:'Tax_Assumption_M':'Vergi Oranı'] => 
  ['Gelir Vergisi'], ['Kümüle Gelir Vergisi'];

