SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

#[  ] = N: IF(DB('V_P', !Version, !Period, 'Actual - Plan') @= 'Actual', STET, CONTINUE);

[ 'Gün Hesabı', 'Stok ve Siparişler' ] =  N: 
	DB('Mali Tablo', '153', 'SPK', !Version, !Period, 'Closing') + DB('Mali Tablo', '154', 'SPK', !Version, !Period, 'Closing') + DB('Mali Tablo', '157', 'SPK', !Version, !Period, 'Closing') + DB('Mali Tablo', '159', 'SPK', !Version, !Period, 'Closing');

[ 'Gün Hesabı', 'K.V. Ticari Borçlar' ] =  N: 
	- DB('Mali Tablo', '320', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '321', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '323', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '324', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '326', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '329', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '331', 'SPK', !Version, !Period, 'Closing');

[ 'Gün Hesabı', 'SMM' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
    DB('Mali Tablo', '621', 'SPK', !Version, !Period, 'Closing'), 
    DB('Mali Tablo', '621', 'SPK', !Version, !Period, 'Closing') - DB('Mali Tablo', '621', 'SPK', !Version, ATTRS( 'Period', !Period, 'PrevMonth' ), 'Closing') );

[ 'Stok ve Siparişler' ] =  N: 
	DB('Mali Tablo', '153', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') + DB('Mali Tablo', '154', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') + DB('Mali Tablo', '157', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') + DB('Mali Tablo', '159', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing');

[ 'SPK', 'K.V. Ticari Borçlar' ] =  N: 
	- DB('Mali Tablo', '320', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '321', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '323', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '324', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '326', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '329', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '331', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '340', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing');

[ 'SMM' ] =  N: IF(SUBST(!Period, 6, 2) @= '01',
    DB('Mali Tablo', '621', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing'), 
    DB('Mali Tablo', '621', !Mali_Tablo_Tipleri, !Version, !Period, 'Closing') - DB('Mali Tablo', '621', !Mali_Tablo_Tipleri, !Version, ATTRS( 'Period', !Period, 'PrevMonth' ), 'Closing') );

[ 'DBS' ] =  N: 
	DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Stok ve Siparişler');

[ 'Alım' ] =  N: 
	[ 'Stok ve Siparişler' ] - [ 'DBS' ] + [ 'SMM' ];

# Stok

[ 'Stok ve Siparişler - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Stok ve Siparişler' ], [ 'Stok ve Siparişler' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Stok ve Siparişler - YTD'));

[ 'Stok ve Siparişler - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'Stok ve Siparişler' ], [ 'Stok ve Siparişler' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'Stok ve Siparişler - rYTD'));

[ 'Stok (ort.)' ] =  N: 
	([ 'Stok ve Siparişler - YTD' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'LYNextMonth'), 'Stok ve Siparişler - rYTD')) / 12;

[ 'Alım - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Alım' ], [ 'Alım' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Alım - YTD'));

[ 'Alım - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'Alım' ], [ 'Alım' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'Alım - rYTD'));

[ 'Alım - 12 Aylık' ] =  N: 
	[ 'Alım - YTD' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'LYNextMonth'), 'Alım - rYTD');

[ 'SMM - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'SMM' ], [ 'SMM' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'SMM - YTD'));

[ 'SMM - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'SMM' ], [ 'SMM' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'SMM - rYTD'));

[ 'SMM - 12 Aylık' ] =  N: 
	[ 'SMM - YTD' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'LYNextMonth'), 'SMM - rYTD');

[ 'K.V. Ticari Borçlar - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'K.V. Ticari Borçlar' ], [ 'K.V. Ticari Borçlar' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'PrevMonth'), 'K.V. Ticari Borçlar - YTD'));

[ 'K.V. Ticari Borçlar - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'K.V. Ticari Borçlar' ], [ 'K.V. Ticari Borçlar' ] + DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'K.V. Ticari Borçlar - rYTD'));

[ 'Ticari Borçlar (ort.)' ] =  N: 
	([ 'K.V. Ticari Borçlar - YTD' ] + 
     DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'LYNextMonth'), 'K.V. Ticari Borçlar - rYTD')) / 12;

# # Gün hesaplamaları

[ 'SGS' ] =  N: 
	[ 'Stok (ort.)' ] \ [ 'SMM - 12 Aylık' ] * 365;

[ 'BGS' ] =  N: 
	[ 'Ticari Borçlar (ort.)' ] \ [ 'SMM - 12 Aylık' ] * 365;

FEEDERS;

[ 'Aktif',  { 'Stok ve Siparişler', 'DBS', 'SMM' } ] => [ 'Alım' ];

[ 'Aktif', 'Stok ve Siparişler' ] => [ 'DBS' ];

[ 'Aktif', 'Stok ve Siparişler' ] => DB('Ticari Borçlar', !Mali_Tablo_Tipleri, !Version, ATTRS('Period', !Period, 'NextMonth'), 'DBS');

[ 'Aktif', 'Stok ve Siparişler - YTD' ] => [ 'Stok (ort.)' ];

[ 'Aktif', 'Alım - YTD' ] => [ 'Alım - 12 Aylık' ];

[ 'Aktif', 'SMM - YTD' ] => [ 'SMM - 12 Aylık' ];

[ 'Aktif', 'K.V. Ticari Borçlar - YTD' ] => [ 'Ticari Borçlar (ort.)' ];

[ 'Aktif',  { 'Stok (ort.)', 'SMM - 12 Aylık' } ] => [ 'SGS' ];

[ 'Aktif', { 'Ticari Borçlar (ort.)', 'SMM - 12 Aylık' } ] => [ 'BGS' ];

[ 'Aktif', 'Stok ve Siparişler' ] => [ 'Stok ve Siparişler - YTD' ];

[ 'Aktif', 'Stok ve Siparişler' ] => [ 'Stok ve Siparişler - rYTD' ];

[ 'Aktif', 'Alım' ] => [ 'Alım - YTD' ];

[ 'Aktif', 'Alım' ] => [ 'Alım - rYTD' ];

[ 'Aktif',  'SMM' ] => [ 'SMM - YTD' ];

[ 'Aktif', 'SMM' ] => [ 'SMM - rYTD' ];

[ 'Aktif', 'K.V. Ticari Borçlar' ] => [ 'K.V. Ticari Borçlar - YTD' ];

[ 'Aktif', 'K.V. Ticari Borçlar' ] => [ 'K.V. Ticari Borçlar - rYTD' ];

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '320', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '321', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '323', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '324', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '326', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'K.V. Ticari Borçlar' ] => DB('Mali Tablo', '329', 'Ticari Borçlar', !Version, !Period, 'Movement');

[ 'Aktif', 'Kanuni', 'Alım' ] => DB('KDV', !Version, !Period, 'Purchases');

#Wcap Özet Küpü Feeder
[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Stok', 'Budget' );

[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Stok', 'Forecast');

[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Stok', 'Budget.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Budget');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Forecast');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Budget.');

[ 'Aktif', 'SPK','K.V. Ticari Borçlar'] => DB( 'Wcap Özet', 'SPK', !Version, !Period,'Ticari Borç', 'Budget');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'SGS', 'Budget');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'SGS', 'Forecast');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'SGS', 'Budget.');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'BGS', 'Budget');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'BGS', 'Forecast');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'BGS', 'Budget.');

[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Stok', 'Actual.');

[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Stok', 'Forecast.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Actual.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Forecast.');

[ 'Aktif', 'SPK','K.V. Ticari Borçlar'] => DB( 'Wcap Özet', 'SPK', !Version, !Period,'Ticari Borç', 'Actual.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'Ticari Borç', 'Forecast.');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'SGS', 'Actual.');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'SGS', 'Forecast.');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'BGS', 'Actual.');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet', !Mali_Tablo_Tipleri, !Version, !Period, 'BGS', 'Forecast.');

#Wcap Özet Fiili Küpü Feeder
[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'Stok', 'Budget' );

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'Ticari Borç', 'Budget');

[ 'Aktif', 'SPK','K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', 'SPK', 'Fiili', !Period,'Ticari Borç', 'Budget');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'SGS', 'Budget');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'BGS', 'Budget');

[ 'Aktif', 'Stok ve Siparişler'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'Stok', 'Forecast.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'Ticari Borç', 'Forecast.');

[ 'Aktif', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'Ticari Borç', 'Forecast.');

[ 'Aktif', 'SGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'SGS', 'Forecast.');

[ 'Aktif', 'BGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, 'Fiili', !Period, 'BGS', 'Forecast.');
