SKIPCHECK;

[ 'Fiili' ] = N: IF( SUBST( !Period, 1, 4 ) @= '2023', STET, CONTINUE );

[ 'Fiili', 'Satış - Aylık', { 'SPK', 'Gün hesabı' } ] =  N: 
	- DB('Mali Tablo Fiili', '600', 'SPK', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '601', 'SPK', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '602', 'SPK', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '610', 'SPK', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '611', 'SPK', !Version_Actual, !Period, 'Amount - Monthly');

[ 'Fiili', 'Satış - Aylık', 'Kanuni' ] =  N: 
	- DB('Mali Tablo Fiili', '600', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '601', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '602', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '610', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly') - 
  DB('Mali Tablo Fiili', '611', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly');

[ 'Fiili', 'Kredi Kartı Alacakları', { 'SPK', 'Gün hesabı' } ] =  N: 
	DB('Mali Tablo Fiili', '108', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'K.V. Ticari Alacaklar', { 'SPK' } ] =  N: 
	DB('Mali Tablo Fiili', '120', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '121', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '123', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '125', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '128', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '129', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '131', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '136', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'K.V. Ticari Alacaklar', { 'Gün hesabı' } ] =  N: 
	DB('Mali Tablo Fiili', '120', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '121', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '123', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '125', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '128', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '129', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '131', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '136', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '231', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '340', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'Kanuni', 'Kredi Kartı Alacakları' ] =  N: 
	DB('Mali Tablo Fiili', '108', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'Kanuni', 'K.V. Ticari Alacaklar' ] =  N: 
	DB('Mali Tablo Fiili', '120', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '121', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '123', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '125', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '126', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '128', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '129', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '136', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final');


[ 'Fiili', 'Satış - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Satış - Aylık' ], [ 'Satış - Aylık' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Satış - YTD'));

[ 'Fiili', 'Satış - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'Satış - Aylık' ], [ 'Satış - Aylık' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'Satış - rYTD'));

[ 'Fiili', 'Satış - 12 Aylık' ] =  N: 
    (DB( 'Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Alacaklar_Meas ) + 
     ['Satış - Aylık'] - DB( 'Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'Satış - Aylık' ));

[ 'Fiili', 'K.V. Ticari Alacaklar - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'K.V. Ticari Alacaklar' ], [ 'K.V. Ticari Alacaklar' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'K.V. Ticari Alacaklar - YTD'));

[ 'Fiili', 'K.V. Ticari Alacaklar - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'K.V. Ticari Alacaklar' ], [ 'K.V. Ticari Alacaklar' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'K.V. Ticari Alacaklar - rYTD'));

# '121', '123', '125', '126', '128', '129', '136' hesapların toplam bakiyesinden küçük ise uyarı vermeli
[ 'Fiili', 'Kanuni', 'K.V. Ticari Alacaklar - KONTROL' ] =  S: 
	IF([ 'K.V. Ticari Alacaklar' ] < DB('Mali Tablo Fiili', '121', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '123', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '125', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '126', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '128', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '129', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '136', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final'), 'UYARI!', '');

[ 'Fiili', 'SPK', 'K.V. Ticari Alacaklar - KONTROL' ] =  S: 
	IF([ 'K.V. Ticari Alacaklar' ] < DB('Mali Tablo Fiili', '121', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '123', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '125', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '126', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '128', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '129', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '136', 'SPK', !Version_Actual, !Period, 'Amount - Final'), 'UYARI!', '');

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar' ] =  N: 
	([ 'Kredi Kartı Alacakları' ] + [ 'K.V. Ticari Alacaklar' ]);

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'KK Alacakları + Ticari Alacaklar' ], [ 'KK Alacakları + Ticari Alacaklar' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'KK Alacakları + Ticari Alacaklar - YTD'));

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'KK Alacakları + Ticari Alacaklar' ], [ 'KK Alacakları + Ticari Alacaklar' ] + 
  DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'KK Alacakları + Ticari Alacaklar - rYTD'));

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar (ort.)' ] =  N: 
	(DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, SUBST( ATTRS('Period', !Period, 'PYMonth'), 1, 4 ), 'KK Alacakları + Ticari Alacaklar') - 
     DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'KK Alacakları + Ticari Alacaklar - YTD') + 
     DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'KK Alacakları + Ticari Alacaklar - YTD')) / 12;

[ 'Fiili', 'Ticari Alacaklar (ort.)' ] =  N: 
	(DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, SUBST( ATTRS('Period', !Period, 'PYMonth'), 1, 4 ), 'K.V. Ticari Alacaklar') - 
     DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'K.V. Ticari Alacaklar - YTD') + 
     DB('Ticari Alacaklar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'K.V. Ticari Alacaklar - YTD')) / 12;

# Gün hesaplamaları

[ 'Fiili', 'TahGS' ] =  N: 
	[ 'KK Alacakları + Ticari Alacaklar (ort.)' ] \ [ 'Satış - 12 Aylık' ] * 365;

[ 'Fiili', 'Ticari alacak TGS' ] =  N: 
	[ 'Ticari Alacaklar (ort.)' ] \ [ 'Satış - 12 Aylık' ] * 365;

[ 'Fiili', 'KK alacak GS' ] =  N: 
	[ 'TahGS' ] - [ 'Ticari alacak TGS' ];

FEEDERS;

[ 'Fiili', 'Satış - Aylık' ] => [ 'Satış - YTD' ];

[ 'Fiili', 'Satış - Aylık' ] => [ 'Satış - rYTD' ];

[ 'Fiili', 'Satış - YTD' ] => [ 'Satış - 12 Aylık' ];

[ 'Fiili', 'Satış - rYTD' ] => [ 'Satış - 12 Aylık' ];

[ 'Fiili', 'Kredi Kartı Alacakları' ] => [ 'KK Alacakları + Ticari Alacaklar' ];

[ 'Fiili', 'K.V. Ticari Alacaklar' ] => [ 'KK Alacakları + Ticari Alacaklar' ];

[ 'Fiili', 'K.V. Ticari Alacaklar' ] => [ 'K.V. Ticari Alacaklar - YTD' ];

[ 'Fiili', 'K.V. Ticari Alacaklar' ] => [ 'K.V. Ticari Alacaklar - rYTD' ];

[ 'Fiili', 'K.V. Ticari Alacaklar - YTD' ] => [ 'Ticari Alacaklar (ort.)' ];

[ 'Fiili', 'K.V. Ticari Alacaklar - rYTD' ] => [ 'Ticari Alacaklar (ort.)' ];

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar' ] => [ 'KK Alacakları + Ticari Alacaklar - YTD' ];

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar' ] => [ 'KK Alacakları + Ticari Alacaklar - rYTD' ];

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar - YTD' ] => [ 'KK Alacakları + Ticari Alacaklar (ort.)' ];

[ 'Fiili', 'KK Alacakları + Ticari Alacaklar - rYTD' ] => [ 'KK Alacakları + Ticari Alacaklar (ort.)' ];

[ 'Fiili', 'Satış - 12 Aylık' ] => [ 'TahGS' ];

[ 'Fiili', 'Satış - 12 Aylık' ] => [ 'Ticari alacak TGS' ];

[ 'Fiili', 'TahGS' ] => [ 'KK alacak GS' ];

#Wcap Özet Küpü Feeder
[ 'Fiili', 'KK Alacakları + Ticari Alacaklar'] => DB('Wcap Özet Fiili', !Mali_Tablo_Tipleri , !Version_Actual, !Period, 'KK Alacakları + Ticari Alacaklar', 'Actual.');

[ 'Fiili', 'TahGS'] => DB('Wcap Özet Fiili', !Mali_Tablo_Tipleri , !Version_Actual, !Period, 'TahGS', 'Actual.');
