SKIPCHECK;

[ 'Fiili' ] = N: IF( SUBST( !Period, 1, 4 ) @= '2023', STET, CONTINUE );

[ 'Fiili', 'Stok ve Siparişler', 'Kanuni' ] =  N: 
	DB('Mali Tablo Fiili', '153', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '154', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '157', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '159', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'Stok ve Siparişler', 'SPK' ] =  N: 
  DB('Mali Tablo Fiili', '153', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '154', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '157', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '159', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'K.V. Ticari Borçlar', 'Kanuni' ] =  N: 
	(DB('Mali Tablo Fiili', '309', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') +
     DB('Mali Tablo Fiili', '320', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '321', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '323', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '324', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '326', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '329', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '340', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Final')) * -1 
   - DB('SPK Giriş', '373 to 320 Reclass', !Version_Actual, !Period, 'Amount') - 
     DB('SPK Giriş', '373 to 320 Tax Reclass', !Version_Actual, !Period, 'Amount');

[ 'Fiili', 'K.V. Ticari Borçlar', 'SPK' ] =  N: 
	(DB('Mali Tablo Fiili', '320', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '321', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '323', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '324', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '326', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '329', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '331', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
     DB('Mali Tablo Fiili', '340', 'SPK', !Version_Actual, !Period, 'Amount - Final')) * -1;

[ 'Fiili', 'K.V. Ticari Borçlar', 'Gün Hesabı' ] =  N: 
	- DB('Mali Tablo Fiili', '320', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '321', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '323', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '324', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '326', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '329', 'SPK', !Version_Actual, !Period, 'Amount - Final') - 
  DB('Mali Tablo Fiili', '331', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili',  'SMM', 'Gün Hesabı' ] =  N: 
	DB('Mali Tablo Fiili', '621', 'SPK', !Version_Actual, !Period, 'Amount - Monthly');

[ 'Fiili', 'SMM', 'Kanuni' ] =  N: 
	DB('Mali Tablo Fiili', '621', 'Final Kanuni', !Version_Actual, !Period, 'Amount - Monthly');

[ 'Fiili', 'SMM', 'SPK' ] =  N: 
	DB('Mali Tablo Fiili', '621', 'SPK', !Version_Actual, !Period, 'Amount - Monthly');

[ 'Fiili', 'Stok ve Siparişler', 'Gün Hesabı' ] =  N: 
	DB('Mali Tablo Fiili', '153', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '154', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '157', 'SPK', !Version_Actual, !Period, 'Amount - Final') + 
  DB('Mali Tablo Fiili', '159', 'SPK', !Version_Actual, !Period, 'Amount - Final');

[ 'Fiili', 'DBS' ] =  N: 
	DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Stok ve Siparişler');

[ 'Fiili', 'Alım' ] =  N: 
	[ 'Stok ve Siparişler' ] - [ 'DBS' ] + [ 'SMM' ];

# Stok

[ 'Fiili', 'Stok ve Siparişler - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Stok ve Siparişler' ], [ 'Stok ve Siparişler' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Stok ve Siparişler - YTD'));

[ 'Fiili', 'Stok ve Siparişler - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Stok ve Siparişler' ], [ 'Stok ve Siparişler' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'Stok ve Siparişler - rYTD'));

[ 'Fiili', 'Stok (ort.)' ] =  N: 
	(DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Borçlar_Meas ) * 12 + 
     ['Stok ve Siparişler'] - DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'Stok ve Siparişler' )) / 12;

# Alım

[ 'Fiili', 'Alım - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Alım' ], [ 'Alım' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Alım - YTD'));

[ 'Fiili', 'Alım - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'Alım' ], [ 'Alım' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'Alım - rYTD'));

# [ 'Fiili', 'Alım - 12 Aylık', 'Gün Hesabı' ] =  N: 
# 		(DB( 'Ticari Borçlar Fiili', 'SPK', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Borçlar_Meas ) + 
#      ['Alım'] - DB( 'Ticari Borçlar Fiili', 'SPK', !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'Alım' ));

[ 'Fiili', 'Alım - 12 Aylık' ] =  N: 
		(DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Borçlar_Meas ) + 
     ['Alım'] - DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'Alım' ));

# SMM

[ 'Fiili', 'SMM - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'SMM' ], [ 'SMM' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'SMM - YTD'));

[ 'Fiili', 'SMM - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'SMM' ], [ 'SMM' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'SMM - rYTD'));

[ 'Fiili', 'SMM - 12 Aylık', 'Gün Hesabı' ] =  N: 
    (DB( 'Ticari Borçlar Fiili', 'SPK', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Borçlar_Meas ) + 
     ['SMM'] - DB( 'Ticari Borçlar Fiili', 'SPK', !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'SMM' ));

[ 'Fiili', 'SMM - 12 Aylık' ] =  N: 
    (DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), !Ticari_Borçlar_Meas ) + 
     ['SMM'] - DB( 'Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'SMM' ));

[ 'Fiili', 'Ticari Borçlar (ort.)' ] =  N: 
	(DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, SUBST( ATTRS('Period', !Period, 'PYMonth'), 1, 4 ), 'K.V. Ticari Borçlar') - 
     DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PYMonth'), 'K.V. Ticari Borçlar - YTD') + 
     DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'K.V. Ticari Borçlar - YTD')) / 12;

# Ticari Borçlar

[ 'Fiili', 'K.V. Ticari Borçlar - YTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'K.V. Ticari Borçlar' ], [ 'K.V. Ticari Borçlar' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'K.V. Ticari Borçlar - YTD'));

[ 'Fiili', 'K.V. Ticari Borçlar - rYTD' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '12', [ 'K.V. Ticari Borçlar' ], [ 'K.V. Ticari Borçlar' ] + 
  DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'K.V. Ticari Borçlar - rYTD'));

# Gün hesaplamaları

[ 'Fiili', 'SGS' ] =  N: 
	[ 'Stok (ort.)' ] \ [ 'SMM - 12 Aylık' ] * 365;

[ 'Fiili', 'BGS' ] =  N: 
	[ 'Ticari Borçlar (ort.)' ] \ [ 'SMM - 12 Aylık' ] * 365;

FEEDERS;

['Fiili', { 'Stok ve Siparişler', 'DBS', 'SMM' } ] => [ 'Alım' ];

['Fiili',  'Stok ve Siparişler' ] => [ 'DBS' ];

['Fiili',  'Stok ve Siparişler' ] => DB('Ticari Borçlar Fiili', !Mali_Tablo_Tipleri, !Version_Actual, ATTRS('Period', !Period, 'NextMonth'), 'DBS');

['Fiili',  'Stok ve Siparişler - YTD' ] => [ 'Stok (ort.)' ];

['Fiili',  'Alım - YTD' ] => [ 'Alım - 12 Aylık' ];

['Fiili',  'SMM - YTD' ] => [ 'SMM - 12 Aylık' ];

['Fiili',  'K.V. Ticari Borçlar - YTD' ] => [ 'Ticari Borçlar (ort.)' ];

['Fiili',  { 'Stok (ort.)', 'SMM - 12 Aylık' } ] => [ 'SGS' ];

['Fiili',  { 'Ticari Borçlar (ort.)', 'SMM - 12 Aylık' } ] => [ 'BGS' ];

['Fiili',  'Stok ve Siparişler' ] => [ 'Stok ve Siparişler - YTD' ];

['Fiili',  'Stok ve Siparişler' ] => [ 'Stok ve Siparişler - rYTD' ];

['Fiili',  'Alım' ] => [ 'Alım - YTD' ];

['Fiili',  'Alım' ] => [ 'Alım - rYTD' ];

['Fiili',  'SMM' ] => [ 'SMM - YTD' ];

['Fiili',  'SMM' ] => [ 'SMM - rYTD' ];

['Fiili',  'K.V. Ticari Borçlar' ] => [ 'K.V. Ticari Borçlar - YTD' ];

['Fiili',  'K.V. Ticari Borçlar' ] => [ 'K.V. Ticari Borçlar - rYTD' ];

#Wcap Özet Küpü Feeder
[ 'Fiili', 'Stok ve Siparişler'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'Stok', 'Actual.');

[ 'Fiili', 'K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'Ticari Borç', 'Actual.');

[ 'Fiili', 'SPK','K.V. Ticari Borçlar'] => DB( 'Wcap Özet Fiili', 'SPK', !Version_Actual, !Period,'Ticari Borç', 'Actual.');

[ 'Fiili', 'SGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'SGS', 'Actual.');

[ 'Fiili', 'BGS'] => DB( 'Wcap Özet Fiili', !Mali_Tablo_Tipleri, !Version_Actual, !Period, 'BGS', 'Actual.');
