SKIPCHECK;

['Fiili', 'Kümüle Kredi Faiz %'] = N: ['Aylık Kredi Faiz %'] * 12;

['Fiili', 'Enflasyon Oranı % - ÜFE TÜFE ort.'] = N: ( ['Enflasyon Oranı % - TÜFE'] + ['Enflasyon Oranı % - ÜFE'] ) / 2;

['Fiili', 'Ay Başı'] = S: ATTRS( 'Period', !Period, 'FirstDay' );
['Fiili', 'Ay Sonu'] = S: ATTRS( 'Period', !Period, 'LastDay' );

FEEDERS;
  
['Fiili', 'Aylık Kredi Faiz %'] => ['Kümüle Kredi Faiz %'];
['Fiili', 'Enflasyon Oranı % - TÜFE'] => ['Enflasyon Oranı % - ÜFE TÜFE ort.'];
['Fiili', 'Enflasyon Oranı % - ÜFE'] => ['Enflasyon Oranı % - ÜFE TÜFE ort.'];

['Fiili', 'Libor % - 1 M'] => DB( 'SPK Giriş', 'TR - Interest Rate', !Version_Actual, !Period, 'Amount' );
['Fiili', 'Libor % - 1 M'] => DB( 'SPK Giriş', 'CCR - Interest Rate', !Version_Actual, !Period, 'Amount' );
['Fiili', 'Libor % - 4 M'] => DB( 'SPK Giriş', 'TP - Interest Rate', !Version_Actual, !Period, 'Amount' );