SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

# [ 'ETB', 'Tutar - Kanuni' ] =  N: 
#   (DB('Mali Tablo', '372', 'Total Source', !Version, !Period, 'Closing') + 
#    DB('Mali Tablo', '472', 'Total Source', !Version, !Period, 'Closing')) * -1 * 0;

[ 'ETB', 'Tutar - SPK' ] =  N: 
  (DB('Mali Tablo', '372', 'SPK', !Version, !Period, 'Closing') + 
   DB('Mali Tablo', '472', 'SPK', !Version, !Period, 'Closing')) * -1;

[ 'Tangible ass.', 'Tutar - Kanuni' ] =  N: 
  DB('Mali Tablo', '254', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '255', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '257', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '258', 'Total Source', !Version, !Period, 'Closing');

[ 'Intangible ass.', 'Tutar - Kanuni' ] =  N: 
  DB('Mali Tablo', '260', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '261', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '262', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '264', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '0  ', 'Total Source', !Version, !Period, 'Closing') + 
  DB('Mali Tablo', '268', 'Total Source', !Version, !Period, 'Closing');

########## TUTAR - SPK
[ 'Inventory (NRV)', 'Tutar - SPK' ] =  N: 
  DB( 'SPK Giriş Plan', 'Stock - BS Charge - 153', !Version, !Period, 'Amount' );

[ 'Tangible ass.', 'Tutar - SPK' ] =  N: 
	DB('Mali Tablo', 'SPK.T025', 'SPK', !Version, !Period, 'Closing');

[ 'Intangible ass.', 'Tutar - SPK' ] =  N: 
	DB('Mali Tablo', 'SPK.T026', 'SPK', !Version, !Period, 'Closing');

[ 'IAS39 (TR)', 'Tutar - SPK' ] =  N: 
    DB( 'SPK Giriş Plan', 'IAS39 TR - BS Charge - 120', !Version, !Period, 'Amount' )+
    DB( 'SPK Giriş Plan', 'IAS39 TR - BS Charge - 108', !Version, !Period, 'Amount' );

[ 'IAS39 (TP)', 'Tutar - SPK' ] =  N: 
    DB( 'SPK Giriş Plan', 'IAS39 TP - BS Charge - 320', !Version, !Period, 'Amount' );

[ 'Unused vac.', 'Tutar - SPK' ] =  N: 
    DB( 'SPK Giriş Plan', 'Holiday - BS Charge - 373', !Version, !Period, 'Amount' );

[ 'PARO', 'Tutar - SPK' ] =  N: 
	DB( 'SPK Giriş Plan', 'PARO - BS Charge - 380', !Version, !Period, 'Amount' ) * -1;

[ 'Lawsuit prov.', 'Tutar - SPK' ] =  N: 
    DB( 'SPK Giriş Plan', 'Litigation - BS Charge - 373', !Version, !Period, 'Amount' );

[ 'Rebate in Stock', 'Tutar - SPK' ] =  N: 
	DB( 'SPK Giriş Plan', 'Rebate - BS Charge - 153', !Version, !Period, 'Amount' );

[ 'IFRS 16', 'Tutar - SPK' ] =  N: 
  (DB('SPK Giriş Plan', 'IFRS 16 - BS Charge - 252', !Version, !Period, 'Amount') + 
   DB('SPK Giriş Plan', 'IFRS 16 - BS Charge - 256', !Version, !Period, 'Amount') + 
   DB('SPK Giriş Plan', 'IFRS 16 - BS Charge - 309', !Version, !Period, 'Amount') + 
   DB('SPK Giriş Plan', 'IFRS 16 - BS Charge - 409', !Version, !Period, 'Amount')) * -1;

[ 'Toplam Geçici Farklar', { 'Tutar - Kanuni', 'Tutar - SPK', 'Fark' } ] =  N: 
	[ 'Inventory (NRV)' ] + [ 'Slow Moving' ] + [ 'Tangible ass.' ] + [ 'Intangible ass.' ] + [ 'ETB' ] + [ 'IAS39 (TR)' ] + [ 'IAS39 (TP)' ] + [ 'Unused vac.' ] + 
  [ 'PARO' ] + [ 'Lawsuit prov.' ] + [ 'Rebate in Stock' ] + [ 'IFRS 16' ];

# Fark işleminde, kalemlere göre pozitif negatiflik değişiyor
[ 'Fark', { 'Tangible ass.', 'Intangible ass.', 'IAS39 (TP)', 'PARO' } ] =  N: [ 'Tutar - SPK' ] - [ 'Tutar - Kanuni' ];

[ 'Fark' ] =  N: [ 'Tutar - Kanuni' ] - [ 'Tutar - SPK' ];

[ 'Ertelenen Vergi - BS', 'Toplam Geçici Farklar' ] =  N: 
	IF(SUBST(!Period, 1, 7) @= 'Opening', STET, [ 'Fark' ] * DB( 'V_P', !Version, !Period, 'Current Tax' ));

[ 'Ertelenen Vergi - PL', 'Toplam Geçici Farklar' ] =  N: 
	IF(SUBST(!Period, 1, 7) @= 'Opening', 0, [ 'Ertelenen Vergi - BS' ] - DB('Vergi Ertelenen', !Vergi_Kalemleri, !Version, 'Opening '|ATTRS('Period', !Period, 'Year'), 'Ertelenen Vergi - BS'));

FEEDERS;

[ 'Aktif', 'Tutar - Kanuni' ] => [ 'Fark' ];
[ 'Aktif', 'Tutar - SPK' ] => [ 'Fark' ];
[ 'Aktif', 'Fark' ] => [ 'Ertelenen Vergi - BS' ];
[ 'Aktif', 'Ertelenen Vergi - BS' ] => [ 'Ertelenen Vergi - PL' ];
[ 'Aktif', { 'Inventory (NRV)', 'Slow Moving', 'Tangible ass.', 'Intangible ass.', 'ETB', 'IAS39 (TR)', 'IAS39 (TP)', 'Unused vac.', 'PARO', 'Lawsuit prov.' } ] => [ 'Toplam Geçici Farklar' ];

#SPK Giriş Plan küpü için feeder
[ 'Aktif', 'Ertelenen Vergi - BS', 'Toplam Geçici Farklar' ] => DB( 'SPK Giriş Plan', 'Tax - BS Charge - 470', !Version, !Period, 'Amount' );
[ 'Aktif', 'Ertelenen Vergi - PL', 'Toplam Geçici Farklar' ] => DB( 'SPK Giriş Plan', 'Tax - PL Charge - 691', !Version, !Period, 'Amount' );
