SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

[ 'Term Ben. - Store' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  DB( 'IK_MM_V_P', 'All Stores + B2B + MP + U', !Version, !Period, 'Kıdem Yasal' ) + 
  DB( 'IK_MM_V_P', 'AVM', !Version, !Period, 'Kıdem Yasal' ),
  DB( 'IK_MM_V_P', 'All Stores + B2B + MP + U', !Version, !Period, 'Kıdem Yasal' ) + 
  DB( 'IK_MM_V_P', 'AVM', !Version, !Period, 'Kıdem Yasal' ) + 
  DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), !Vergi_Meas));

[ 'Term Ben. - Central' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  DB( 'IK_MM_V_P', 'Head Office', !Version, !Period, 'Kıdem Yasal' ), 
  DB( 'IK_MM_V_P', 'Head Office', !Version, !Period, 'Kıdem Yasal' ) + 
  DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), !Vergi_Meas));

[ 'Term Ben. - DC' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01',
  DB( 'IK_MM_V_P', 'Depo', !Version, !Period, 'Kıdem Yasal' ),
  DB( 'IK_MM_V_P', 'Depo', !Version, !Period, 'Kıdem Yasal' ) + 
  DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), !Vergi_Meas));

[ '81017' ] =  N: 
  DB( 'Genel Giderler', 'Tax, Duty and Fees', 'All Cost Centers', 'Departman Toplam', !Version, !Period|'-YTD', 'Amount Cost' ) + 
  DB( 'Genel Giderler', '8101100001', 'All Cost Centers', 'Departman Toplam', !Version, !Period|'-YTD', 'Amount Cost' );

[ 'PL Profit' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01',
  DB( 'PL',  'PROFIT BEFORE TAXATION', 'Total Source', 'All Cost Centers', !Version, !Period, 'Amount' ), CONTINUE);

[ 'PL Profit' ] =  N: 
	DB( 'PL',  'PROFIT BEFORE TAXATION', 'Total Source', 'All Cost Centers', !Version, !Period, 'Amount' ) + 
  DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'PL Profit');

[ 'Total KKEG + ETB' ] =  N: 
	[ 'Total Term Ben.' ] + [ '81017' ];

[ 'KKEG + PL Profit' ] =  N: 
	[ 'Total KKEG + ETB' ] + [ 'PL Profit' ];

[ 'KKEG ArGe' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  DB( 'Arge - Vergi', 'Expense Accounts', 'Kanunen Kabul Edilen Gider', !Version, !Period, 'Amount' ), CONTINUE);

[ 'KKEG ArGe' ] =  N: 
	DB( 'Arge - Vergi', 'Expense Accounts', 'Kanunen Kabul Edilen Gider', !Version, !Period, 'Amount' ) + 
  DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'KKEG ArGe');

[ 'KKEG ArGe - Final' ] =  N: 
	[ 'KKEG ArGe - Adjustment' ] + [ 'KKEG ArGe' ];

[ 'Current Tax' ] =  N: 
	IF(([ 'KKEG + PL Profit' ] - [ 'KKEG ArGe - Final' ]) > 0, ([ 'KKEG + PL Profit' ] - [ 'KKEG ArGe - Final' ]) * DB('V_P', !Version, !Period, 'Current Tax' ), CONTINUE);

[ 'Monthly PL Charge' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', [ 'Current Tax' ], CONTINUE);

[ 'Monthly PL Charge' ] =  N: 
	[ 'Current Tax' ] - DB('Vergi', !Version, ATTRS('Period', !Period, 'PrevMonth'), 'Current Tax');

FEEDERS;

['Aktif', 'Term Ben. - Store' ] => DB('Vergi', !Version, ATTRS('Period', !Period, 'NextMonth'), !Vergi_Meas);

['Aktif',  'Term Ben. - Central' ] => DB('Vergi', !Version, ATTRS('Period', !Period, 'NextMonth'), !Vergi_Meas);

['Aktif',  'Term Ben. - DC' ] => DB('Vergi', !Version, ATTRS('Period', !Period, 'NextMonth'), !Vergi_Meas);

['Aktif',  'Total Term Ben.' ] => [ 'Total KKEG + ETB' ], [ 'KKEG + PL Profit' ];

['Aktif',  'KKEG ArGe' ] => [ 'Current Tax' ];

['Aktif',  'KKEG ArGe - Final' ] => [ 'Current Tax' ];

['Aktif',  'KKEG + PL Profit' ] => [ 'Current Tax' ];

['Aktif',  'Current Tax' ] => [ 'Monthly PL Charge' ];

['Aktif',  { 'KKEG ArGe - Adjustment', 'KKEG ArGe' } ] => [ 'KKEG ArGe - Final' ];

['Aktif',  'Monthly PL Charge' ] => DB( 'PL', 'Tax', 'Vergi', '9349999', !Version, !Period, 'Amount' );
