SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

#############################

[ 'Kanuni', 'Actual.', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'Stok ve Siparişler');

[ 'SPK', 'Actual.', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'Stok ve Siparişler');

[ 'Actual.', 'KK Alacakları + Ticari Alacaklar' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'KK Alacakları + Ticari Alacaklar');

[ 'Kanuni', 'Actual.', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'K.V. Ticari Borçlar');

[ 'SPK', 'Actual.', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'K.V. Ticari Borçlar');

[ 'Kanuni', 'Actual.', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'SGS');

[ 'SPK', 'Actual.', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'SGS');

[ 'Kanuni', 'Actual.', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'TahGS');

[ 'SPK', 'Actual.', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', 'Gün Hesabı', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'TahGS');

[ 'Kanuni', 'Actual.', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'BGS');

[ 'SPK', 'Actual.', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Gün Hesabı', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'BGS');

#############################

[ 'Kanuni', 'Forecast.', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'Stok ve Siparişler');

[ 'SPK', 'Forecast.', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, !Period, 'Stok ve Siparişler');

[ 'Forecast.', 'KK Alacakları + Ticari Alacaklar' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, !Period, 'KK Alacakları + Ticari Alacaklar');

[ 'Kanuni', 'Forecast.', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'K.V. Ticari Borçlar');

[ 'SPK', 'Forecast.', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'SPK', !Version, !Period, 'K.V. Ticari Borçlar');

[ 'Kanuni', 'Forecast.', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'SGS');

[ 'SPK', 'Forecast.', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, !Period, 'SGS');

[ 'Kanuni', 'Forecast.', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, !Period, 'TahGS');

[ 'SPK', 'Forecast.', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', 'Gün Hesabı', !Version, !Period, 'TahGS');

[ 'Kanuni', 'Forecast.', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'BGS');

[ 'SPK', 'Forecast.', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Gün Hesabı', !Version, !Period, 'BGS');

#############################

[ 'Kanuni', { 'Budget', 'Budget.' }, 'Stok' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Borçlar', 'Kanuni', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Stok ve Siparişler'), 
  DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'Stok ve Siparişler'));

[ 'SPK', { 'Budget', 'Budget.' }, 'Stok' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Borçlar', 'SPK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'Stok ve Siparişler'), 
  DB('Ticari Borçlar', 'SPK', !Version, !Period, 'Stok ve Siparişler'));

[ { 'Budget', 'Budget.' }, 'KK Alacakları + Ticari Alacaklar' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'KK Alacakları + Ticari Alacaklar'), 
  DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, !Period, 'KK Alacakları + Ticari Alacaklar'));

[ 'Kanuni', { 'Budget', 'Budget.' }, 'Ticari Borç' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0,  
  - DB('Ticari Borçlar', 'Kanuni', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'K.V. Ticari Borçlar'),  
  - DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'K.V. Ticari Borçlar'));

[ 'SPK', { 'Budget', 'Budget.' }, 'Ticari Borç' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0,  
  - DB('Ticari Borçlar', 'SPK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'K.V. Ticari Borçlar'),  
  - DB('Ticari Borçlar', 'SPK', !Version, !Period, 'K.V. Ticari Borçlar'));

[ 'Kanuni', { 'Budget', 'Budget.' }, 'SGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Borçlar', 'Kanuni', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'SGS'), 
  DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'SGS'));

[ 'SPK', { 'Budget', 'Budget.' }, 'SGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Borçlar', 'SPK', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'SGS'), 
  DB('Ticari Borçlar', 'SPK', !Version, !Period, 'SGS'));

[ 'Kanuni', { 'Budget', 'Budget.' }, 'TahGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'TahGS'), 
  DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, !Period, 'TahGS'));

[ 'SPK', { 'Budget', 'Budget.' }, 'TahGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0, 
  DB('Ticari Alacaklar', 'Gün Hesabı', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'TahGS'), 
  DB('Ticari Alacaklar', 'Gün Hesabı', !Version, !Period, 'TahGS'));

[ 'Kanuni', { 'Budget', 'Budget.' }, 'BGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0,  
  - DB('Ticari Borçlar', 'Kanuni', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'BGS'),  
  - DB('Ticari Borçlar', 'Kanuni', !Version, !Period, 'BGS'));

[ 'SPK', { 'Budget', 'Budget.' }, 'BGS' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0,  
  - DB('Ticari Borçlar', 'Gün Hesabı', DB( 'Sistem', 'Ana Senaryo - Bütçe', 'Değer' ), !Period, 'BGS'),  
  - DB('Ticari Borçlar', 'Gün Hesabı', !Version, !Period, 'BGS'));

#############################

[ 'Kanuni', 'Forecast', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'Stok ve Siparişler');

[ 'SPK', 'Forecast', 'Stok' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'Stok ve Siparişler');

[ 'Forecast', 'KK Alacakları + Ticari Alacaklar' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'KK Alacakları + Ticari Alacaklar');

[ 'Kanuni', 'Forecast', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'K.V. Ticari Borçlar');

[ 'SPK', 'Forecast', 'Ticari Borç' ] =  N: 
	- DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'K.V. Ticari Borçlar');

[ 'Kanuni', 'Forecast', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'SGS');

[ 'SPK', 'Forecast', 'SGS' ] =  N: 
	DB('Ticari Borçlar', 'SPK', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'SGS');

[ 'Kanuni', 'Forecast', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', !Mali_Tablo_Tipleri, !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'TahGS');

[ 'SPK', 'Forecast', 'TahGS' ] =  N: 
	DB('Ticari Alacaklar', 'Gün Hesabı', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'TahGS');

[ 'Kanuni', 'Forecast', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Kanuni', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'BGS');

[ 'SPK', 'Forecast', 'BGS' ] =  N: 
	- DB('Ticari Borçlar', 'Gün Hesabı', !Version, ATTRS( 'Period', !Period, 'PYMonth' ), 'BGS');

FEEDERS;
