SKIPCHECK;

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '255' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  (DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1) + 
  DB('KE80 - KSB1 Karşılık', '8140105001', !Masraf_Kar_Merkezleri, '25', !Version_Actual, !Period, 'Tutar'), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '255' ] =  N: 
	(DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
     DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1) + 
  (DB('KE80 - KSB1 Karşılık', '8140105001', !Masraf_Kar_Merkezleri, '25', !Version_Actual, !Period, 'Tutar') - 
   DB('KE80 - KSB1 Karşılık', '8140105001', !Masraf_Kar_Merkezleri, '25', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Tutar'));

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '264' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  (DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1) + 
  DB('KE80 - KSB1 Karşılık', '8140204001', !Masraf_Kar_Merkezleri, '26', !Version_Actual, !Period, 'Tutar'), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '264' ] =  N: 
	(DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
     DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1) + 
  (DB('KE80 - KSB1 Karşılık', '8140204001', !Masraf_Kar_Merkezleri, '26', !Version_Actual, !Period, 'Tutar') - 
   DB('KE80 - KSB1 Karşılık', '8140204001', !Masraf_Kar_Merkezleri, '26', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Tutar'));

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '260' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  (DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1) + 
  DB('KE80 - KSB1 Karşılık', '8140201001', !Masraf_Kar_Merkezleri, '27', !Version_Actual, !Period, 'Tutar'), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '260' ] =  N: 
	(DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
     DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1) + 
  (DB('KE80 - KSB1 Karşılık', '8140201001', !Masraf_Kar_Merkezleri, '27', !Version_Actual, !Period, 'Tutar') - 
   DB('KE80 - KSB1 Karşılık', '8140201001', !Masraf_Kar_Merkezleri, '27', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Tutar'));

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '263' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', 
  (DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1) + 
  DB('KE80 - KSB1 Karşılık', '8140203001', !Masraf_Kar_Merkezleri, '28', !Version_Actual, !Period, 'Tutar'), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Mevcut', '263' ] =  N: 
	(DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
     DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1) + 
  (DB('KE80 - KSB1 Karşılık', '8140203001', !Masraf_Kar_Merkezleri, '28', !Version_Actual, !Period, 'Tutar') - 
   DB('KE80 - KSB1 Karşılık', '8140203001', !Masraf_Kar_Merkezleri, '28', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Tutar'));

[ 'Fiili', 'Kanuni Amortisman - Mevcut' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', (DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Mevcut' ] =  N: 
	(DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
     DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1);

[ 'Fiili', 'Kanuni Amortisman - Çıkış' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Çıkış'), CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Çıkış' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Çıkış') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Çıkış');

[ 'Fiili', 'Kanuni Amortisman - Devir' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Devreden') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Net') * -1, CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Devir' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Devreden') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Devreden') * -1;

[ 'Fiili', 'Kanuni Amortisman - Transfer' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Transfer') * -1, CONTINUE);

[ 'Fiili', 'Kanuni Amortisman - Transfer' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, !Period, 'Transfer') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Transfer') * -1;

[ 'Fiili', 'UMS Amortisman - Mevcut' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Giriş') * -1, CONTINUE);

[ 'Fiili', 'UMS Amortisman - Mevcut' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Giriş') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş') * -1;

[ 'Fiili', 'UMS Amortisman - Çıkış' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Çıkış'), CONTINUE);

[ 'Fiili', 'UMS Amortisman - Çıkış' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Çıkış') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Çıkış');

[ 'Fiili', 'UMS Amortisman - Devir' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Devreden') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Net') * -1, CONTINUE);

[ 'Fiili', 'UMS Amortisman - Devir' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Devreden') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Devreden') * -1;

[ 'Fiili', 'UMS Amortisman - Transfer' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Transfer') * -1, CONTINUE);

[ 'Fiili', 'UMS Amortisman - Transfer' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, !Period, 'Transfer') * -1 - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Amortisman', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Transfer') * -1;

#############

[ 'Fiili', 'Kanuni Yatırım - Mevcut' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Giriş'), CONTINUE);

[ 'Fiili', 'Kanuni Yatırım - Mevcut' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Giriş') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş');

[ 'Fiili', 'Kanuni Yatırım - Devir' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Devreden') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Net'), CONTINUE);

[ 'Fiili', 'Kanuni Yatırım - Devir' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Devreden') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Devreden');

[ 'Fiili', 'Kanuni Yatırım - Transfer' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Transfer'), CONTINUE);

[ 'Fiili', 'Kanuni Yatırım - Transfer' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Transfer') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Transfer');

[ 'Fiili', 'Kanuni Yatırım - Çıkış' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Çıkış'), CONTINUE);

[ 'Fiili', 'Kanuni Yatırım - Çıkış' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Çıkış') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Çıkış');

#################

[ 'Fiili', 'UMS Yatırım - Mevcut' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Giriş'), CONTINUE);

[ 'Fiili', 'UMS Yatırım - Mevcut' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Giriş') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Giriş');

[ 'Fiili', 'UMS Yatırım - Devir' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Devreden') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Net'), CONTINUE);

[ 'Fiili', 'UMS Yatırım - Devir' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Devreden') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Devreden');

[ 'Fiili', 'UMS Yatırım - Transfer' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Transfer'), CONTINUE);

[ 'Fiili', 'UMS Yatırım - Transfer' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Transfer') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Transfer');

[ 'Fiili', 'UMS Yatırım - Çıkış' ] =  N: 
	IF(SUBST(!Period, 6, 2) @= '01', DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Çıkış'), CONTINUE);

[ 'Fiili', 'UMS Yatırım - Çıkış' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, !Period, 'Çıkış') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'IFRS Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Çıkış');

[ 'Fiili', 'Yatırım' ] =  N: 
	DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, !Period, 'Net') - 
  DB('Yatırım Hesaplama Fiili', !Masraf_Kar_Merkezleri, !Duran_Varlık_Sınıfları, 'STAT Maliyet', !Version_Actual, ATTRS('Period', !Period, 'PrevMonth'), 'Net');

# YTD Hesaplamaları
[ 'Fiili', 'Kanuni Amortisman - Mevcut - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'Kanuni Amortisman - Mevcut' );
[ 'Fiili', 'Kanuni Amortisman - Devir - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'Kanuni Amortisman - Devir' );
[ 'Fiili', 'Kanuni Amortisman - Düzeltme - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'Kanuni Amortisman - Düzeltme' );
[ 'Fiili', 'Kanuni Amortisman - Çıkış - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'Kanuni Amortisman - Çıkış' );
[ 'Fiili', 'UMS Amortisman - Mevcut - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'UMS Amortisman - Mevcut' );
[ 'Fiili', 'UMS Amortisman - Devir - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'UMS Amortisman - Devir' );
[ 'Fiili', 'UMS Amortisman - Düzeltme - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'UMS Amortisman - Düzeltme' );
[ 'Fiili', 'UMS Amortisman - Çıkış - YTD' ] = N: DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, !Period|'-YTD', 'UMS Amortisman - Çıkış' );

FEEDERS;

# YTD Hesaplamaları
['Fiili', 'Kanuni Amortisman - Mevcut'] => ['Kanuni Amortisman - Mevcut - YTD'];
['Fiili', 'Kanuni Amortisman - Devir'] => ['Kanuni Amortisman - Devir - YTD'];
['Fiili', 'Kanuni Amortisman - Düzeltme'] => ['Kanuni Amortisman - Düzeltme - YTD'];
['Fiili', 'Kanuni Amortisman - Çıkış'] => ['Kanuni Amortisman - Çıkış - YTD'];
['Fiili', 'UMS Amortisman - Mevcut'] => ['UMS Amortisman - Mevcut - YTD'];
['Fiili', 'UMS Amortisman - Devir'] => ['UMS Amortisman - Devir - YTD'];
['Fiili', 'UMS Amortisman - Düzeltme'] => ['UMS Amortisman - Düzeltme - YTD'];
['Fiili', 'UMS Amortisman - Çıkış'] => ['UMS Amortisman - Çıkış - YTD'];

['Fiili', {'Kanuni Amortisman - Mevcut - YTD', 'Kanuni Amortisman - Devir - YTD', 'Kanuni Amortisman - Düzeltme - YTD', 'Kanuni Amortisman - Çıkış - YTD', 
  'UMS Amortisman - Mevcut - YTD', 'UMS Amortisman - Devir - YTD', 'UMS Amortisman - Düzeltme - YTD', 'UMS Amortisman - Çıkış - YTD'}] => DB( 'Yatırım Amortisman Fiili', !Duran_Varlık_Sınıfları, !Masraf_Kar_Merkezleri, !Version_Actual, ATTRS( 'Period', !Period, 'NextMonth' ), !Yatırım_Amortisman_Fiili_Meas);
  
[ 'Fiili', 'Toplam Duran Varlık', '9347777', {'UMS Amortisman - Mevcut', 'UMS Amortisman - Devir', 'UMS Amortisman - Düzeltme', 'UMS Amortisman - Transfer'}] => DB( 'SPK Giriş', 'IAS - 630', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', 'Toplam Duran Varlık', {'All Stores + B2B + MP + U', 'AVM'}, {'UMS Amortisman - Mevcut', 'UMS Amortisman - Devir', 'UMS Amortisman - Düzeltme', 'UMS Amortisman - Transfer'}] => DB( 'SPK Giriş', 'IAS - 631', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', 'Toplam Duran Varlık', {'Head Office', 'Depo'}, {'UMS Amortisman - Mevcut', 'UMS Amortisman - Devir', 'UMS Amortisman - Düzeltme', 'UMS Amortisman - Transfer'}] => DB( 'SPK Giriş', 'IAS - 632', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', {'250', '254', '255', '258', '260', '261', '262', '263'}, 'All Cost Centers', 'Kanuni Amortisman - Final'] => DB( 'Mali Tablo Fiili', !Duran_Varlık_Sınıfları, 'Depr.(Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', {'254', '255', '264'}, 'All Cost Centers', 'UMS Amortisman - Final'] => DB( 'Mali Tablo Fiili', '257', 'Depr. (Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', {'260', '261', '262', '263'}, 'All Cost Centers', 'UMS Amortisman - Final'] => DB( 'Mali Tablo Fiili', '268', 'Depr. (Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', '264', 'All Cost Centers', 'Kanuni Amortisman - Final'] => DB( 'Mali Tablo Fiili', '0', 'Depr. (Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', 'Toplam Duran Varlık', 'All Cost Centers', {'UMS Amortisman - Çıkış', 'Kanuni Amortisman - Çıkış'}] => DB( 'Mali Tablo Fiili', '679', 'Depr. (Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', 'Toplam Duran Varlık', 'All Cost Centers', {'UMS Amortisman - Çıkış', 'Kanuni Amortisman - Çıkış'}] => DB( 'Mali Tablo Fiili', '689', 'Depr. (Stat/IAS9)', !Version_Actual, !Period, 'Amount' );
[ 'Fiili', 'Toplam Duran Varlık', 'All Cost Centers', {'UMS Amortisman - Devir', 'UMS Amortisman - Mevcut', 'UMS Amortisman - Düzeltme'}] => DB( 'Mali Tablo Fiili', 'SPK.EBT - EBITDA', 'SPK Giriş', !Version_Actual, !Period, 'Amount' );

#Diğer Girişler Feedarları.
[ 'Fiili', 'Toplam Duran Varlık', {'Kanuni Yatırım - Çıkış', 'Kanuni Amortisman - Çıkış'}] => DB( 'Diğer Girişler Fiili', !Masraf_Kar_Merkezleri, !Version_Actual, !Period, '6890126401' );
