FEEDSTRINGS;
SKIPCHECK;

[  ] = IF(ELPAR('Version', !Version, 1) @= 'Aktif', CONTINUE, STET);

[ 'Yatırım_Giriş_Meas':'Butce Kodu' ] =  S: IF(!Departmanlar @= 'IT', CONTINUE, '');

['MM Name'] = S: DB( '}ElementAttributes_Masraf_Kar_Merkezleri',DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM' ), 'Name'  );

## Forecast Başlangıç
[ 'Adet Oca' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-01', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Şub' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-02', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Mar' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 &
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-03', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Nis' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-04', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet May' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 &
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-05', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Haz' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-06', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Tem' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-07', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Ağu' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-08', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Eyl' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-09', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Eki' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-10', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Kas' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-11', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

[ 'Adet Ara' ] =  N: 
	IF(SCAN('Forecast', !Version) <> 0 & 
    DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-12', 'Actual - Plan') @= 'Actual', 0, CONTINUE);

##Forecast Bitiş

#Kapanmış mağazalar için bütçeleme yapılmasın
[ 'Tutar' ] = N: 
    IF( DAYNO(ATTRS( 'Period', SUBST ( !Version, LONG(!Version)-4+1, 4)|'-01', 'FirstDay' )) >
    DAYNO(DB('MM_V', DB('Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM'), !Version, 'Kapanış Tarihi  (yyyy-mm-dd)')), 0, CONTINUE);

[ 'Tutar' ] =  N:
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım Tipi') @= '', 0, CONTINUE);

[ 'Tutar (TRY)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım Tipi') @= '', 0, CONTINUE);

[ 'Tutar' ] =  N: 
	IF((DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Pazarlama')
	& (DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Duran Varlık Hesabı') @= ''
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Amortisman Hesabı') @= ''
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Amortisman Hesabı (PL)') @= ''
	% [ 'Ekonomik Ömür (Kanuni)' ] = 0
	% [ 'Ekonomik Ömür (UMS)' ] = 0), 0, CONTINUE);

[ 'Tutar (TRY)' ] =  N: 
	IF((DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Pazarlama')
	& (DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Duran Varlık Hesabı') @= ''
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Amortisman Hesabı') @= ''
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Amortisman Hesabı (PL)') @= ''
	% [ 'Ekonomik Ömür (Kanuni)' ] = 0
	% [ 'Ekonomik Ömür (UMS)' ] = 0), 0, CONTINUE);

[ 'Tutar' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @<> '', 
    [ 'Birim Fiyat' ] * ([ 'Adet Oca' ] + [ 'Adet Şub' ] + [ 'Adet Mar' ] + [ 'Adet Nis' ] + [ 'Adet May' ] + [ 'Adet Haz' ] + 
    [ 'Adet Tem' ] + [ 'Adet Ağu' ] + [ 'Adet Eyl' ] + [ 'Adet Eki' ] + [ 'AdetKas' ] + [ 'Adet Ara' ]), CONTINUE);

[ 'Tutar (TRY)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @<> ''
	& DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi') @= 'TL', [ 'Birim Fiyat' ] * ([ 'Adet Oca' ] + [ 'Adet Şub' ] + [ 'Adet Mar' ] + [ 'Adet Nis' ] + 
    [ 'Adet May' ] + [ 'Adet Haz' ] + [ 'Adet Tem' ] + [ 'Adet Ağu' ] + [ 'Adet Eyl' ] + [ 'Adet Eki' ] + [ 'AdetKas' ] + [ 'Adet Ara' ]), CONTINUE);

[ 'Tutar (TRY)' ] =  N: 
	[ 'Adet Oca' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-01', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Şub' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-02', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Mar' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-03', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Nis' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-04', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet May' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-05', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Haz' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-06', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Tem' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-07', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Ağu' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-08', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Eyl' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-09', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Eki' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-10', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Kas' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-11', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi')) + 
    [ 'Adet Ara' ] * [ 'Birim Fiyat' ] * DB('V_P', !Version, SUBST ( !Version, LONG(!Version)-4+1, 4)|'-12', 'Aysonu Kur - ' | DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Para Birimi'));

[ 'Duran Varlık Hesabı' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Satınalma'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama', STET, CONTINUE);

[ 'Duran Varlık Hesabı' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @<> '', 
    DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'BS Duran Varlık Hesabı'), CONTINUE);

[ 'Amortisman Hesabı' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Satınalma'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama', STET, CONTINUE);

[ 'Amortisman Hesabı' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') 
    @<> '', SUBST(DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'BS Amortisman Hesabı'), 1, 3), CONTINUE);

[ 'Amortisman Hesabı (PL)' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Satınalma'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama', STET, CONTINUE);

[ 'Amortisman Hesabı (PL)' ] =  S: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım')
    @<> '', DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'PL Amortisman Hesabı'), CONTINUE);

[ 'Ekonomik Ömür (Kanuni)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Satınalma'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama', STET, CONTINUE);

[ 'Ekonomik Ömür (Kanuni)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @<> ''
	& DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM') @<> '', 
    IF(DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'Ömür Kira Süresine Bağlı?') @= 'Evet', 
	#kira süresi 5 altında ise ömür 5 yıl olarak sabitlensin istendi
	IF(DB('MM_V', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM'), !Version, 'Kalan Kira Süresi (Yıl)') <= 5, 5, 
    DB('MM_V', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM'), !Version, 'Kalan Kira Süresi (Yıl)')), 
    DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'Yasal Ömrü')), CONTINUE);

[ 'Ekonomik Ömür (UMS)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - IT'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - İnşaat'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Endirekt Satınalma'
	% DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @= 'Diğer - Pazarlama', STET, CONTINUE);

[ 'Ekonomik Ömür (UMS)' ] =  N: 
	IF(DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım') @<> ''
	& DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM') @<> '', 
    IF(DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'Ömür Kira Süresine Bağlı?') @= 'Evet', 
	#kira süresi 5 altında ise ömür 5 yıl olarak sabitlensin istendi
	IF(DB('MM_V', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM'), !Version, 'Kalan Kira Süresi (Yıl)') <= 5, 5, 
    DB('MM_V', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'MM'), !Version, 'Kalan Kira Süresi (Yıl)')), 
    DB('Yatırım Detay', DB( 'Yatırım Giriş', !Departmanlar, !Records, !Version, 'Yatırım'), !Version, 'UMS Ömrü')), CONTINUE);

FEEDERS;

['Aktif', 'Birim Fiyat' ] => [ 'Tutar' ], [ 'Tutar (TRY)' ];